<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="exceptionManagement" type="Sagitec.ExceptionPub.ExceptionManagerSectionHandler,SagitecExceptionPub, Version=6.0.0.0, Culture=neutral, PublicKeyToken=6B869967020F164D"/>
	</configSections>
 <exceptionManagement mode="on">
		<publisher assembly="SagitecCommon, Version=6.0.0.0, Culture=neutral, PublicKeyToken=130d1a64d9ca2157" type="Sagitec.Common.CustomExceptionPublisher" LogDirectory="C:\OPUS\MPIBPM_DEV\ErrorLog\" SmtpServer="" MailFrom="" MailTo=""/>
	</exceptionManagement>
	<system.runtime.remoting>
		<application>
			<!--<channels>
				<channel ref="tcp" port="9070" name="MPIPHPBusinessTier"/>
			</channels>
			<service>
        <wellknown mode="SingleCall" type="MPIPHP.BusinessTier.srvAdmin,MPIPHPBusinessTier" objectUri="srvPrototype"/>
        <wellknown mode="SingleCall" type="MPIPHP.BusinessTier.srvAudit,MPIPHPBusinessTier" objectUri="srvAudit"/>
        <wellknown mode="SingleCall" type="MPIPHP.BusinessTier.srvAdmin,MPIPHPBusinessTier" objectUri="srvAdmin"/>
        <wellknown mode="SingleCall" type="MPIPHP.BusinessTier.srvCorrespondence,MPIPHPBusinessTier" objectUri="srvCorrespondence"/>
        <wellknown mode="SingleCall" type="MPIPHP.BusinessTier.srvReports,MPIPHPBusinessTier" objectUri="srvReports"/>
        <wellknown mode="SingleCall" type="MPIPHP.BusinessTier.srvPerson,MPIPHPBusinessTier" objectUri="srvPerson"/>
        <wellknown mode="SingleCall" type="MPIPHP.BusinessTier.srvMPIPHPMSS,MPIPHPBusinessTier" objectUri="srvMPIPHPMSS"/>
        <wellknown mode="Singleton" type="MPIPHP.BusinessTier.srvMPIPHPMetaDataCache,MPIPHPBusinessTier" objectUri="MPIPHPMetaDataCache"/>
        <wellknown mode="Singleton" type="MPIPHP.BusinessTier.srvMPIPHPDBCache,MPIPHPBusinessTier" objectUri="MPIPHPDBCache"/>
        <wellknown mode="SingleCall" type="MPIPHP.BusinessTier.srvCommon,MPIPHPBusinessTier" objectUri="srvCommon"/>
        <wellknown mode="SingleCall" type="MPIPHP.BusinessTier.srvWorkflow,MPIPHPBusinessTier" objectUri="srvWorkflow"/>
        <wellknown mode="SingleCall" type="MPIPHP.BusinessTier.srvOrganization,MPIPHPBusinessTier" objectUri="srvOrganization"/>
        <wellknown mode="SingleCall" type="MPIPHP.BusinessTier.srvScout,MPIPHPBusinessTier" objectUri="srvScout"/>
        <wellknown mode="SingleCall" type="MPIPHP.BusinessTier.srvEligibilityRules,MPIPHPBusinessTier" objectUri="srvEligibilityRules"/>
        <wellknown mode="SingleCall" type="MPIPHP.BusinessTier.srvCalculation,MPIPHPBusinessTier" objectUri="srvCalculation"/>
        <wellknown mode="SingleCall" type="MPIPHP.BusinessTier.srvIAPAllocation,MPIPHPBusinessTier" objectUri="srvIAPAllocation"/>
        <wellknown mode="SingleCall" type="MPIPHP.BusinessTier.srvPayeeAccount,MPIPHPBusinessTier" objectUri="srvPayeeAccount"/>
        <wellknown mode="SingleCall" type="MPIPHP.BusinessTier.srvUserActivity,MPIPHPBusinessTier" objectUri="srvUserActivity"/>
      </service>-->
    </application>
    <customErrors mode="off"/>
  </system.runtime.remoting>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
  <appSettings>
    <add key="WCFRECEIVETIMEOUT" value="00:59:00"/>
  </appSettings>
</configuration>
