<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <sectionGroup name="businessObjects">
      <!--<sectionGroup name="crystalReports">
        <section name="crystalReportViewer" type="System.Configuration.NameValueSectionHandler" />
      </sectionGroup>-->
    </sectionGroup>
  </configSections>
  <businessObjects>
    <!--<crystalReports>
      <crystalReportViewer>
        <add key="resourceURI" value="crystalreportviewers13" />
      </crystalReportViewer>
    </crystalReports>-->
  </businessObjects>
  <appSettings>
    <add key="AddCell" value="True"/>
    <add key="WordExtention" value=".docx"/>
    <add key="BusinessTierUrl" value="net.tcp://localhost:9070/{0}"/>
    <add key="DBCacheUrl" value="net.tcp://localhost:9070/MPIPHPDBCache"/>
    <add key="MetaDataCacheUrl" value="net.tcp://localhost:9070/MPIPHPMetaDataCache"/>
    <add key="swc:sfwButton" value="SagitecWebControls;Sagitec.WebControls.sfwButton"/>
    <add key="swc:sfwLinkButton" value="SagitecWebControls;Sagitec.WebControls.sfwLinkButton"/>
    <add key="swc:sfwImageButton" value="SagitecWebControls;Sagitec.WebControls.sfwImageButton"/>
    <add key="swc:sfwLabel" value="SagitecWebControls;Sagitec.WebControls.sfwLabel"/>
    <add key="swc:sfwTextBox" value="SagitecWebControls;Sagitec.WebControls.sfwTextBox"/>
    <add key="swc:sfwDropDownList" value="SagitecWebControls;Sagitec.WebControls.sfwDropDownList"/>
    <add key="swc:sfwRadioButtonList" value="SagitecWebControls;Sagitec.WebControls.sfwRadioButtonList"/>
    <add key="swc:sfwGridView" value="SagitecWebControls;Sagitec.WebControls.sfwGridView"/>
    <add key="swc:HyperLink" value="System.Web;System.Web.UI.WebControls.HyperLink"/>
    <add key="swc:sfwCheckBox" value="SagitecWebControls;Sagitec.WebControls.sfwCheckBox"/>
    <add key="swc:sfwCheckBoxList" value="SagitecWebControls;Sagitec.WebControls.sfwCheckBoxList"/>
    <add key="swc:sfwAdvSort" value="SagitecWebControls;Sagitec.WebControls.sfwAdvSort"/>
    <add key="swc:sfwImage" value="SagitecWebControls;Sagitec.WebControls.sfwImage"/>
    <add key="swc:sfwLiteral" value="SagitecWebControls;Sagitec.WebControls.sfwLiteral"/>
    <add key="swc:sfwCRViewer" value="SagitecWebControls;Sagitec.WebControls.sfwCRViewer"/>
    <add key="swc:ValidationSummary" value="System.Web;System.Web.UI.WebControls.ValidationSummary"/>
    <add key="swc:RequiredFieldValidator" value="System.Web;System.Web.UI.WebControls.RequiredFieldValidator"/>
    <add key="swc:CompareValidator" value="System.Web;System.Web.UI.WebControls.CompareValidator"/>
    <add key="swc:ListBox" value="System.Web;System.Web.UI.WebControls.ListBox"/>
    <add key="swc:sfwHyperLink" value="SagitecWebControls;Sagitec.WebControls.sfwHyperLink"/>
    <add key="btnSearch_Click" value="Searches the database based on the given criteria and displays the information"/>
    <add key="btnSearchCriteriaRequired_Click" value="Searches the database based on the given criteria and displays the information"/>
    <add key="btnReset_Click" value="Resets all the search criteria to default values"/>
    <add key="btnAdvSearch_Click" value="Searches the database based on the given criteria and displays the information"/>
    <add key="btnAdvReset_Click" value="Resets all the search criteria to default values"/>
    <add key="btnCriteria_Click" value="Contains fields on which database search can be performed"/>
    <add key="btnAdvCriteria_Click" value="Contains fields on which advance database search can be performed"/>
    <add key="btnAdvSort_Click" value="Contains list of fields from search result on which advance sort can be performed"/>
    <add key="btnApplySort_Click" value="Sorts the search result by as per advance sort parameters"/>
    <add key="btnExportExcel_Click" value="Exports the search result to Excel as per selected parameters"/>
    <add key="btnColumnsToExport_Click" value="Exports the search result to Excel as per selected parameters"/>
    <add key="btnNew_Click" value="Create a new record"/>
    <add key="btnOpen_Click" value="Open selected record(s)"/>
    <add key="btnDelete_Click" value="Delete selected record(s)"/>
    <add key="btnSave_Click" value="Save the changes"/>
    <add key="btnCancel_Click" value="Cancel the changes"/>
    <add key="btnPrev_Click" value="Displays previous record"/>
    <add key="btnNext_Click" value="Displays next record"/>
    <add key="btnCorr_Click" value="Generate selected correspondence"/>
    <add key="MaxSearchCount" value="100"/>
    <add key="SmtpServer" value="mail.sagitec.com"/>
    <add key="MailTo" value="jeevan.awatramani@sagitec.com"/>
    <add key="MaxAdvSearchCount" value="5000"/>
    <!--<add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>-->
    <add key="OnlineHelpFolderPath" value="'Help/!SSL!/WebHelp_Pro/Help_Documentation/Screens/"/>
    <add key="SystemEnvironment" value="DEVELOPMENT"/>
    <add key="UpdateButtonAutoAdd" value="False"/>
    <add key="AppXtender_AppName" value="PENSION_DOCS"/>
    <add key="AppXtender_DataSource" value="MPI_UAT"/>
    <add key="AppXtender_ServerName" value="dev-sagperfax/AppXtender"/>
    <!--FM upgrade: 6.0.0.32 changes-->
    <add key="ApplicationName" value="NeoSpinWSS"/>
    <!--FM upgrade: 6.0.0.35 changes-->
    <add key="WCFListenBacklog" value="200"/>
    <add key="WCFMaxBufferSize" value="2147483647"/>
    <add key="WCFSendTimeOut" value="0,20,0"/>
    <add key="AllowedReferrerDomains" value="https://localhost/NeoSpinWSS"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error.html"/>
    <trace enabled="false" localOnly="true"/>
    <httpCookies httpOnlyCookies="true" requireSSL="true"/>
    <sessionState cookieless="UseCookies" cookieName="OPUSSession"/>
    <sessionPageState historySize="25"/>
    <machineKey validationKey="5A6A55DF12AFB06B6E6546CBD640D71981248044AE39260B5DBB22CAAAC854C5DBC775CA6682194CE8DF5B8A33860D4F08C5A90F3AC91DF8E7B59E993438148F" decryptionKey="B810A37C48CA9F246AD20FB74C9E1D538DA8D11F3D0187126508EBA2413EC2B5" validation="SHA1" decryption="AES"/>
    <!--<sessionState mode="InProc" cookieless="false"/>-->
    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <add name="XmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="web.SiteMap"/>
      </providers>
    </siteMap>
    <pages theme="ControlsTheme" controlRenderingCompatibilityVersion="3.5">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </controls>
    </pages>
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <!--<add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />-->
        <add assembly="SagitecWebControls, Version=6.0.0.0, Culture=neutral, PublicKeyToken=2FAFCCD2A44457D5"/>
        <add assembly="SagitecWebClient, Version=6.0.0.0, Culture=neutral, PublicKeyToken=DE5D1FBC6B66D2F0"/>
        <add assembly="SagitecInterface, Version=6.0.0.0, Culture=neutral, PublicKeyToken=319652840B3D7D17"/>
        <add assembly="SagitecExceptionPub.Interfaces, Version=6.0.0.0, Culture=neutral, PublicKeyToken=E194146EF13FC5AC"/>
        <add assembly="SagitecExceptionPub, Version=6.0.0.0, Culture=neutral, PublicKeyToken=6B869967020F164D"/>
        <add assembly="SagitecDBUtility, Version=6.0.0.0, Culture=neutral, PublicKeyToken=ACD7276C242F28D5"/>
        <add assembly="SagitecCommon, Version=6.0.0.0, Culture=neutral, PublicKeyToken=130D1A64D9CA2157"/>
        <add assembly="SagitecBusinessObjects, Version=6.0.0.0, Culture=neutral, PublicKeyToken=9670B75419327B3C"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <!--<authentication mode="Windows" /> -->
    <authentication mode="Forms">
      <forms name="Authen" protection="All" loginUrl="/OPUS/wfmLogin.aspx" requireSSL="true"/>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        -->
    <!--<httpRuntime targetFramework="4.5"/>-->
    <httpHandlers>
      <!--<add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />-->
      <!--<add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>-->
    </httpHandlers>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <!-- F/w upgrade changes for security -->
      <customHeaders>
        <clear/>
        <add name="X-UA-Compatible" value="IE=Edge,chrome=1"/>
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
        <add name="Cache-Control" value="no-cache, no-store, must-revalidate"/>
        <add name="Pragma" value="no-cache"/>
        <add name="Access-Control-Allow-Origin" value="https://localhost/NeoSpinWSS"/>
        <!--Need to change on Production-->
        <add name="Access-Control-Allow-Methods" value="GET, POST"/>
        <add name="Strict-Transport-Security" value="max-age=15552000"/>
        <add name="X-Content-Type-Options" value="no sniff"/>
        <add name="X-XSS-Protection" value="1; mode=block"/>
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering removeServerHeader="true"/>
    </security>
    <!--<rewrite>
      <rules>
        <rule name="Convert_http_to_https" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
        </rule>
        <rule name="Request Blocking Rule" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{SERVER_PROTOCOL}" pattern="HTTP/1.0" />
          </conditions>
          <action type="AbortRequest" />
        </rule>
      </rules>
    </rewrite>-->
    <!--<handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />      
    </handlers>-->
    <validation validateIntegratedModeConfiguration="false"/>
    <caching>
      <profiles>
        <add extension=".gif" policy="CacheUntilChange" kernelCachePolicy="DontCache"/>
        <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="DontCache"/>
        <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="DontCache"/>
      </profiles>
    </caching>
    <directoryBrowse enabled="false"/>
    <defaultDocument>
      <files>
        <add value="wfmLogin.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <services>
      <service name="OPUSWebService" behaviorConfiguration="metadataSupport">
        <host>
          <baseAddresses>
            <add baseAddress="http://sag-dev-sys/OPUS"/>
          </baseAddresses>
        </host>
        <endpoint address="/OPUSWebservice" binding="basicHttpBinding" bindingConfiguration="" name="OPUSHTTPBinding" contract="IOPUSWebService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataSupport">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>