BODY {
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:0.8em;
	color:Black;
}

A:link {
	COLOR: #232377;
}

A:unknown {
	COLOR: #232377;
}

A:hover {
	COLOR: #6464FE;
	text-decoration:none;
}

A:visited{
	COLOR: #232377;
}

H1 {
	font-family: Arial, Helvetica, sans-serif;
	COLOR: #585880;
}

H2 {
	font-family: Arial, Helvetica, sans-serif;
	COLOR: #585880;
}

H3 {
	font-family: Arial, Helvetica, sans-serif;
	COLOR: #585880;
}

H4 {
	font-family: Arial, Helvetica, sans-serif;
	COLOR: #585880;
}

H5 {
	font-family: Arial, Helvetica, sans-serif;
	COLOR: #585880;
}

H6 {
	font-family: Arial, Helvetica, sans-serif;
	COLOR: #585880;
}
.theme_header
{
	background-image: url(Images/smokeandglass_brownfadetop.gif);
}

.theme_highlighted {
	background-image :url(Images/smokeandglass_blueandwhitef.gif);
}

.theme_fadeblue {
	background-image :url(Images/smokeandglass_fadeblue.gif);
}

.PanelHeaderLeft
{
	background-color: #81a7ca;
	background-repeat: no-repeat;
	padding: 0px;
	margin-top:2px;
	border: 0px;
	width: 32px;
	height: 23px;
}

.PanelHeaderMiddle
{
	background-color: #81a7ca;	
	background-repeat: repeat-x;
	width: 100%;
	color: #FFFFFF;
	font-family: Arial;
	font-size: medium;
	font-weight: bold;
}

.PanelHeaderRight
{
	background-color: #81a7ca;
	background-repeat: no-repeat;
	width: 32px;
	height: 23px;
}

.PanelBody
{
/*	overflow: auto;*/
	float:left;
	clear: both;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#333333;
	font-weight:normal;
	text-decoration:none;
	background-color: #FFFFFF;
	background-repeat: repeat-x;
	background-position: top;
	width:100%;
}

#minheight
{
min-height:100%;
height:100%;
}
html #minheight {
height: 100%;
}
html, body {
background-color:#d7dadd;
/*background-color:#ffffff;*/
height:100%;
}
a
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#333333;
font-weight:normal;
text-decoration:none;
}
a:hover
{
color:#660000;
text-decoration:underline;
}
.contentmainbg
{
background-image:url(images/Content_Main_Bg.gif);
background-repeat:repeat-y;
}
.contentbg
{
background-image:url(images/Content_Bg.gif);
background-repeat:no-repeat;
height:415px;
width:324px;
}
#content
{
margin-top:90px;
}
.contenttxt
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#333333;
	line-height:16px;
	font-weight:normal;
	text-align: left;
}
.contentLoginError
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#333333;
	line-height:16px;
	font-weight:normal;
	text-align: center;
}
.contentlink
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#333333;
	line-height:16px;
	font-weight:normal;
	text-align: left;
	text-decoration: underline;
}
.contenttxt1
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#333333;
	line-height:16px;
	font-weight:normal;
	text-align: left;	
}
.inboxborder
{
background-image:url(images/Bg_Inbox.gif);
background-repeat:repeat-x;
border:#CCCCCC 1px solid;
}
.boxborder
{
	background-image:url(images/Bg_Inbox.gif);
	background-repeat:repeat-x;
	background-position:bottom;
	border:#CCCCCC 1px solid;
	background-color: #FEFEFE;
}
.contentheadred
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:red;
font-weight:bold;
}
.contenthead
    {
        color:#333333;
        font:normal 11px verdana,tahoma,helvetica;
    }
.contentheadLabel
    {
        float:left;
        color:#333333;
        font:normal 11px verdana,tahoma,helvetica;
    }
.loginTxt
    {
        display:block;
        color:#333333;
        margin:20px 0px 0px 20px;
        font:normal 11px verdana,tahoma,helvetica;
    }
.loginTxtLabel
    {
        color:#333333;
        margin:0px 0px 0px 20px;
        font:normal 11px verdana,tahoma,helvetica;
    }
.Logintxtbox
    {
        height:20px;
        margin:13px 0px 0px 20px;
        border:1px solid #abadb3;
    }
.LoginSelectBox
    {
        height:23px;
        margin:13px 0px 0px 20px;
        padding:2px 2px 2px 2px;
        border:1px solid #abadb3;
    }
.contentRow
    {
        padding:10px 0px 10px 25px;
    }
.contentTop
    {
        padding-top:30px;
    }    
.contentRowLabel
    {
        padding:0px 0px 0px 25px;
    }
.contenthead1
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFFFFF;
	font-weight:bold;
}
.footertxt
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color:#333333;
font-weight:normal;
text-decoration: underline;
}
.boxborder
{
border:solid #CCCCCC 1px;
}
.NavHeadtxt
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
	font-weight:bold;
}
.menuTxt
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color:#ffffff;
font-weight:bold;
}
.menuTxt a
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color:#ffffff;
font-weight:bold;
}
.menuTxt a:hover
{
text-decoration:none;
color:#cccccc;
}

.Headtxt
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#00377B;
}
.NaviHeadtxt
{
	font-family:"Book Antiqua";
	font-size:24px;
	font-weight:bold;
	color:#00377B;
}
.NaviHeadtxt15Size
{
	font-family:"Book Antiqua";
	font-size:20px;
	font-weight:bold;
	color:#00377B;
}
.buttonbg
    {
        height:24px;
        color:#ffffff;
        font-size:10px;
        font-weight:bold;
        margin:15px 0px 15px 0px;
        border:1px #CCCCCC solid;
        background-image:url(images/button_bg.gif);
        font-family:Verdana, Arial, Helvetica, sans-serif;
    }
.buttonbgRequest
    {
        height:24px;
        color:#ffffff;
        font-size:10px;
        font-weight:bold;
        margin:15px 0px 15px 20px;
        border:1px #CCCCCC solid;
        background-image:url(images/button_bg.gif);
        font-family:Verdana, Arial, Helvetica, sans-serif;
    }
.Header_Img {
	background-image: url(images/Header_Img1.jpg);
	background-repeat: no-repeat;
	background-position: right;
}
.alignleft {
    float: left;
    padding: 0 0 0 0;
  }

li {
	margin:10px;
	list-style-position: inherit;
	

}
.subheadingbgcolor
{
	background-color: #B7D6FF;
}
.rowcolor
{
	background-color: #F4F4F4;
}
.alternativerowcolor
{
	background-color: #EBEBEB;
}