/*html, body, #container { min-height: 91%; height: 91%;}*/
html, body
	{
		font:normal 11px verdana,tahoma,helvetica;
		height:100%;
		padding:0px;
		margin:0px;
	}

html
	{
		overflow-x:auto !important;
	}
body
	{
		min-width:1200px;
		overflow-x:auto;
	}
.Qrdo, .Qrdo a, .Qrdo a:link
	{
		font-size:12px !important;
		line-height:14px;
		font-weight:bold;
	}
a
	{
	    
		text-decoration:none;
	}
img
	{
		border:none;
	}
#container
	{
		width:100%;
	}
/* Begin: Login Part Styles */
#wrap
	{
		width:783px;
		margin:0 auto;
		position:relative;
	}
.loginBody
	{
		font:normal 11px Verdana, Geneva, sans-serif !important;
	}
.loginBg
    {
		top:45%;
		left:50%;
	    width:783px;
		padding:0px;
	    height:284px;
	    font-size:10px;
	    margin-top:99px;
	    *margin-top:117px;
		text-align:center;
		position:absolute;
		margin-left:-387px;
    }
.bannerBg
	{
		width:777px;
		height:170px;
		margin:31px 0px 0px 6px;
	}
.mpiLogo
    {
         height:110px !important;
         overflow-y:hidden !important;
         border:solid 1px #fff;
    }	
/* End: Login Part Styles */
/* Begin: Inner Pages Part Styles */
.innerPgsBody
	{
		height:100%;
	}
#top_head
	{
		height:72px;
	}
.ReportViewer
	{
		height:100%;
		overflow:auto;
	}
.WorkflowButton
	{
		margin-right:2px;
	}
.silhouette
	{
		width:16px;
		border:0px;
		padding-top:21px;
		*padding-top:10px;
		display:inline-block;
	}
.headerDiv
	{
		width:2px;
		border:0px;
		height:18px;
		display:inline-block;
		margin:0px 2px 0px 3px;
	}
/* Begin: Header Part Styles */
#header
	{
		width:100%;
		height:67px;
		min-width:1024px !important;
	}
.HeaderTopLeft
	{
		width:20%;
		float:left;
		height:57px;
		display:inline;
	}
.HeaderTopCenter
	{
		width:45%;
		height:60px;
		line-height:20px;
		text-align:center;
		display:inline-block;
		font-family:verdana,tahoma,helvetica;
	}
#uppFormTitle
	{
		padding-top:5px;
	}
.HeaderTopRight
	{
		width:35%;
		float:right;
		height:60px;
		*margin-top:-60px;
		min-width:350px !important;
	}
.headrightIcon
	{
		padding-top:3px;
		vertical-align:top;
	}
.headrightIcon a
	{
		font-weight:bold;
		text-decoration:none;
	}
.headrightIcon a:hover
	{
		text-decoration:none;
	}
#sp5
	{
		padding:0px 2px 0px 1px;
	}
#lblUserId
	{
		padding-left:2px;
	}
/*#pnlSmartLinks ul
	{
		list-style:none;
		margin-left:0;
		padding-left:1.063em;
		text-indent:-1.063em;
	}*/
#pnlSmartLinks ul
	{
		margin:10px 0px 0px 0px !important;
	}
#pnlSmartLinks ul
	{
		padding:0;
		list-style-type:none;
	}
#pnlSmartLinks ul li
	{
		margin:2px 0px 2px 0px;
		padding:0px 2px 0px 20px;
	}
#pnlSmartLinks ul li a:hover
	{
		background:none !important;
	}
#calAgency
	{
		margin:5px !important;
	}	
#calAgency td
	{
		padding:4px 2px 4px 2px;
		font-size:11px;
		font-weight:bold;
	}
#calAgency th
	{
		padding:4px 2px 4px 2px;
		font-size:11px;
		font-weight:bold;
	}
#calAgency td a:hover
	{
		background:none !important;
	}
#calEvents
	{
		margin:5px !important;
	}	
#calEvents td
	{
		padding:4px 2px 4px 2px;
		font-size:11px;
		font-weight:bold;
	}
#calEvents th
	{
		padding:4px 2px 4px 2px;
		font-size:11px;
		font-weight:bold;
	}
#calEvents td a:hover
	{
		background:none !important;
	}
.headerButtonBg
	{
		width:31%;
		float:right;
		padding:12px 0 0 0;
		*padding:-10px 0 0 0;
	}
.headerButtons
	{
		float:right;
		cursor:pointer;
		margin-right:20px;
		display:inline-block;
	}
.menubg
	{
		width:auto;
		height:28px;
		display:block;
	}
.menuL
	{
		/*float:left;*/
		width:17px;
		height:28px;
	}
.menuR
	{
		width:16px;
		height:28px;
		/*float:right;*/
		margin-top:-28px;
	}
.Menuleft
	{
		float:left;
		width:24px;
		height:28px;
		display:inline;
	}
.MenuCenter
	{
		float:left;
		width:auto;
		height:28px;
		display:inline;
		padding-top:2px;
		font-weight:bold;
	}
.MenuCenter a
	{
		font-weight:bold;
		text-decoration:none;
	}

.MenuCenter a:hover
	{
		font-weight:bold;
		text-decoration:none;
	}
.MenuRight
	{
		float:left;
		width:24px;
		height:34px;
		display:inline;
		padding-top:2px;
	}
.submenuitem
	{
		padding:5px;
		z-index:20000;
		font-weight:bold;
		margin-bottom:1px;
	}
.submenuover
	{
		padding:5px;
		margin-top:1px;
	}
.mainmenu
	{
		margin-top:1px;
		padding-left:10px;
	}
.level1
	{
		margin-top:1px;
		padding-left:20px;
	}
/* End: Header Part Styles */
/* Begin: Main Content Styles */
/* Begin: Left Content Styles */
		.smartlinks
			{
				margin:0px;
				padding:0px;
				font:bold 10px Verdana, Geneva, sans-serif !important;
			}
		 .smartlinks a
			{
				line-height:15px;
				vertical-align :top;
				text-decoration:none;
				font:bold 10px Verdana, Geneva, sans-serif !important;
			}
		.smartlinks a:hover
			{
				vertical-align:top;
				text-decoration:underline;
				font:bold 10px Verdana, Geneva, sans-serif !important;
			}
		.smartlinks a:visited
			{
				vertical-align:top;
				text-decoration:none;
			}
		.smartlinks ul
			{					
				padding-left:0px;
				padding-top :0px;
				margin:20px 0px 0px 0px !important;
				vertical-align:bottom;
			}
		.smartlinks ul li
			{
				display:block;
				margin:2px 2px 0px 2px;
			}
		.smartlinks ul li a
			{
				padding:0px 5px 5px 0px;
				_height:14px;
				display:block;
				min-height:14px;
				margin-right:5px;
			}
		.leftMPIIcon
		    {
		        float:left;
		        width:20px;
		        height:18px;
		        margin:1px -20px 0px 0px;
		    }
		.leftSmartNaviIcon
		    {
		        float:left;
		        width:20px;
		        height:18px;
		        margin:1px 5px 0px 0px;
		    }
		.leftMyBasketIcon
		    {
		        float:left;
		        width:20px;
		        height:18px;
		        margin:1px 5px 0px 0px;
		    }
	/* End: Left Content Styles */
	/* Begin: Right Content Styles */
		.Message
			{
				width:100%;
				font-weight:bold;
				margin:4px 0px 2px 0px;
				min-width:100% !important;
				
			}
		.Message td
			{
				padding:5px 0px 2px 5px;
				*padding:5px 0px 5px 5px;
			}
			
		#pnlSubMenu
			{
				padding-left:10px;
			}
		.rightContent
			{
				float:left;
			}
		#lblMessageID
			{
				padding-bottom:10px !important;
			}
		#lblMessage
			{
				padding-bottom:10px !important;
			}
		.headerRtBtn
			{
				float:right;
				cursor:pointer;
				margin:18px 19px 0px -18px;
			}
		.Imagebutton
			{
				cursor:pointer;
				margin:1px 0px 0px 1px;
				*margin:1px 0px 0px 3px;
			}
		.Table
			{
				white-space:normal;
				text-align:left !important;
				padding:0px 5px 2px 3px;
			}
		.Table td
			{
			    
				
			}
		.Table td a
			{
				text-decoration:underline;
			}
		.Table td a:hover
			{
			    color:#006867 !important;
				text-decoration:underline;
				background:none !important;
			}	
		#cphCenterMiddle_imgHRSS, #cphCenterMiddle_imgMyVRS, #cphCenterMiddle_imgVRSU, #cphCenterMiddle_imgTLC, #cphCenterMiddle_imgDHRM
			{
				margin-top:3px !important;
			}
		.Label
			{
				text-align:right;
				line-height:20px;
				padding-left:20px !important;
				font: 11px verdana,tahoma,helvetica !important;
			}
		.ButtonTable
			{
				display:inline;				
				margin-right:5px;
				margin-left:5px;
			}
		.ButtonCell
			{
				/*border:none;
				height:22px;
				font-weight:bold;
				padding-right:5px;
				display:inline-block;
				margin:7px 3px 0px 0px;
				*margin:5px 3px 0px 0px;*/
			}
		input.buttonbg
			{
				cursor:pointer;
				/*border:none;*/
			}
		input.textboxbg
			{
				/*height:18px;*/
				width:150px;
			}
		input.hasDatepick
			{
				font-family:Verdana;
				font-size:11px;
				width:150px;
				cursor:pointer;
			}
		.hasDatepick
			{
				margin-right:2px;
			}
/*		select.textboxbg
			{
				padding:2px;
			}*/
		.textboxbg
			{
				/*font-size:11px;
				line-height:20px;*/
				margin:0px 2px 3px 0px !important;
				font: 11px verdana,tahoma,helvetica !important;
			
			}
		select
			{
				
				font-size:11px;
				margin-right:-0px !important;
				margin:2px 3px 3px 0px !important;
				font: 11px verdana,tahoma,helvetica !important;
			}
		.buttonbg
			{
				height:21px;
				font-size:10px;
				font-weight:bold;
				font-family:Verdana;
				vertical-align:middle;
				padding:0px 5px 0px 5px;
                margin: 2px 6px 1px;
				/*height:22px;
				line-height:21px;
				display:inline-block;
				padding:0px 5px 0px 10px;
				font-size:10px !important;
				font-weight:bold !important;
				font-family:Verdana !important;*/
			}
		#cphCenterMiddle_tctHeaderTab
			{
				*border:none !important;
			}
		.Content
			{
				padding:5px;
				/*margin-right:15px;*/
				vertical-align:top;
				/*padding:5px
				overflow-x:auto !important;
				overflow-y:hidden !important;
				height:100% !important;
				max-width:1200px !important;
				visibility:visible;;*/
			}
		
			/* Begin: Grid Styles */
			.gridTable 
				{
					border-width:1px !important;
				}
			.gridTable
				{
					display:block;
					padding:0 10px;
				}
			.gridhead
				{
					
					word-spacing:normal !important;
					white-space:nowrap !important;
					font-size:11px;
					font-weight:bold;
				}
			.gridhead a:hover
				{
					font-weight:bold;
					text-decoration:underline;
				}
			.gridhead a:visited
				{
					font-weight:bold;
					text-decoration:none;
				}
				.gridhead th {
					font-size: 11px !important;
					text-align: center !important;
					padding: 2px 3px 2px 3px !important;
				}
			.gridhead th a
				{
					font-size:11px !important;
					text-align:center !important;
					padding:2px 3px 2px 3px !important;
				}
			.gridnormal
				{
					padding:10px;
					white-space:normal;
					font:normal 11px Verdana, Geneva, sans-serif !important;
				}
			.gridnormal td 
				{
					white-space:normal;
					padding:3px !important;
				}
			.gridnormal span
				{
					font-weight:bold;
					display:inline-block;
					padding:2px 5px 2px 5px;
				}
			.gridodd
				{
					
					/*text-align:center;*/
					word-spacing:normal !important;
					white-space:normal !important;
					font:normal 11px Verdana, Geneva, sans-serif !important;
				}
			.gridodd a
				{
					
					/*text-align:center;*/
					font:bold 10px Verdana, Geneva, sans-serif !important;
				}
			.gridodd td
				{
					/*text-align:left;*/
				}
			tr.gridodd span
				{
					*white-space:pre;
					/*text-align:center;*/
					/*white-space:pre-wrap;*/
					white-space:-moz-pre-wrap;
					*word-wrap: break-word !important;
				}
			.grideven
				{
					
					/*text-align:center;*/
					word-spacing:normal !important;
					white-space:normal !important;
					font:normal 11px Verdana, Geneva, sans-serif !important;
				}
			.grideven a
				{
					
					/*text-align:center;*/
					font:bold 10px Verdana, Geneva, sans-serif !important;
				}
			.grideven td
				{
					/*text-align:left;*/
				}
			tr.grideven span
				{
					*white-space:pre;
					/*text-align:center;*/
					/*white-space:pre-wrap;*/
					white-space:-moz-pre-wrap;
					*word-wrap: break-word !important;
				}
			.gridselected
				{
					padding:10px;
					
					font:normal 11px Verdana, Geneva, sans-serif !important;
				}
			.gridselected td
				{
					
				}
			tr.gridselected span
				{
					*white-space:pre;
					
					white-space:pre-wrap;
					white-space:-moz-pre-wrap;
					*word-wrap: break-word !important;
				}
			.primaryaddrcontct td
				{
					padding:3px !important;
				}
			tr.primaryaddrcontct span
				{
					*white-space:pre;
					text-align:center;
					white-space:pre-wrap;
					white-space:-moz-pre-wrap;
					*word-wrap: break-word !important;
				}
			.gridLabelTextWrap
				{
					font-weight: normal;
					white-space:normal;
				}
		    .HideClientSide
                {
                    display:none;
                    visibility:hidden;
                } 
			/* End: Grid Styles */
			
			
/* Begin Grid Wrap */
			.gridheadWrap
				{
					
					word-spacing:normal !important;
					white-space:normal !important;
					font-size:11px;
					font-weight:bold;
					text-decoration:none;
				}
			.gridheadWrap a:hover
				{
					font-weight:bold;
					text-decoration:underline;
				}
			.gridheadWrap a:visited
				{
					font-weight:bold;
					text-decoration:none;
				}
			.gridheadWrap th
				{
					font-size:11px !important;
					text-align:center !important;
					padding:2px 3px 2px 3px !important;
				}
			.gridheadWrap th a
				{
					font-size:11px !important;
					text-align:center !important;
					padding:2px 3px 2px 3px !important;
				}
			.gridnormalWrap
				{
					padding:10px;
					white-space:normal;
					font:normal 11px Verdana, Geneva, sans-serif !important;
				}
			.gridnormalWrap td 
				{
					white-space:normal;
					padding:3px !important;
				}
			.gridnormalWrap span
				{
					font-weight:bold;
					display:inline-block;
					padding:2px 5px 2px 5px;
				}
			.gridoddWrap
				{
					word-spacing:normal !important;
					white-space:normal !important;
					font:normal 11px Verdana, Geneva, sans-serif !important;
				}
			.gridoddWrap a
				{
					font:bold 10px Verdana, Geneva, sans-serif !important;
				}
			.gridoddWrap td
				{
				}
			tr.gridoddWrap span
				{
					*white-space:pre;
					white-space:-moz-pre-wrap;
					*word-wrap: break-word !important;
				}
			.gridevenWrap
				{
					word-spacing:normal !important;
					white-space:normal !important;
					font:normal 11px Verdana, Geneva, sans-serif !important;
				}
			.gridevenWrap a
				{
					font:bold 10px Verdana, Geneva, sans-serif !important;
				}
			.gridevenWrap td
				{
					/* */
				}
			tr.gridevenWrap span
				{
					*white-space:pre;
					white-space:-moz-pre-wrap;
					*word-wrap: break-word !important;
				}
			.gridselectedWrap
				{
					padding:10px;
					
					font:normal 11px Verdana, Geneva, sans-serif !important;
				}
			.gridselectedWrap td
				{
					
				}
			tr.gridselectedWrap span
				{
					*white-space:pre;
					
					white-space:pre-wrap;
					white-space:-moz-pre-wrap;
					*word-wrap: break-word !important;
				}


/* End GridWrap */
			
	/* End: Right Content Styles */
	/* Begin: Pre-Loader Part Styles */
		.pannelLoader
			{
				top:33px;
				z-index:10;
				left:210px;
				width:250px;
				position:fixed;
			}
		.loaderTxt
			{
				font-weight: bold;
			}
	/* End: Pre-Loader Part Styles */
/* Begin: Footer Part Styles */
#uppFooter
	{
		min-width:1024px !important;
	}
.footer
	{	
		top:auto;
		left:0px;
		right:0px;
		width:100%;
		bottom:0px;
		height:27px;
		display:block;
		visibility:visible;
	}
.footerLeft
	{
		float:left;
		margin:0px;
		height:19px;
		padding:8px 0px 0px 7px;
	}
.footerRight
	{
		margin:0px;
		float:right;
		height:19px;
		text-align:right;
		padding:8px 7px 0px 0px;
	}
/* End: Footer Part Styles */
/* Bigin: Mixed Part Styles */
.PanelBodyMiddle
	{
		float: left;
		clear: both;
		width: 100%;
		overflow: auto;
		vertical-align:top;
	}
.PanelBody
	{
		float: left;
		clear: both;
		width: 100%;
		overflow: auto;
	}
.PayeeAccount
	{
		text-align:right;
		font-weight:bold;
		line-height:20px;
		padding-left:20px !important;
		white-space:normal !important;
		font:normal 11px Verdana, Geneva, sans-serif !important;
	}
caption
	{
		width:30%;
		height:25px;
		display:block;
		padding-top:7px;
		font-weight:bold;
		margin:7px 2px 5px 6px;
		text-align:left !important;
	}
.PageNavHead
	{
		height:25px;
		font-size: 11px;
		font-weight: bold;
		padding-bottom:10px;
	}
.PanelHeaderLeft
	{
		border:0px;
		width:32px;
		height:23px;
		padding:0px;
		margin-top:2px;
	}
.PanelHeaderMiddle
	{
		width: 100%;
		font-weight: bold;
	}
.PanelHeaderRight
	{
		width:32px;
		height:23px;
	}
.AlignRight
	{
		text-align:right;
	}
.AlignLeft
	{
		text-align:left;
	}
.AlignCenter
	{
		text-align:center;
	}
.ReqInfo
	{
		width: 150px;
		text-align: right;
	}
.lnkAlert
	{
		font-size:11px;
		font-weight:normal;
	}
.txtlabel
	{
		width:150px;
		font-size:11px;
		margin-right:5px;
	}
.text
	{
		margin-right:5px;
	}
.Divider
	{
		width:90%;
		margin-right:6px;
	}
.TreeNodeMaintenance
	{
		font-weight:normal;
		padding-right:10px;
	}
.TreeNodeLookup
	{
		font-weight:normal;
		padding-right:10px;
	}
#ctl00_cphCenterMiddle_tblCenterMiddle
	{
		padding-top:5px;
	}
.panelbg
	{
		width:100%;
		border:0px;
		margin:0px;
		height:100%;
	}
.PanelMiddle
	{
		margin-top:5px;
		margin-left:5px;
		margin-right:5px;
	}
.panelleft
	{
		height: 100%;
		font-size:10px;
		font-weight: bold;
	}
.panelleft a, a:link
	{
		font-size:10px;
		line-height:14px;
		font-weight:bold;
	}
.panelleft a:hover
	{
		text-decoration: underline;
	}
.panelbg a:hover
	{
		text-decoration:underline;
	}
.paddingleft25
	{
		padding-left:25px;
	}
.width25
	{
		width:25%;   
	}
.MaskedEditMessage
	{
		font-weight:bold;
	}
.WhiteText
	{
		display:none;
	}
.TDAlignRight
	{
		align:right;
	}
.btnServerSideRefresh
	{
		display:none;
	}
#uppCenterMiddle, #uppMessage
	{
		width:99%;
		z-index:0;
	}
/* End: Mixed Part Styles */
/* End: Main Content Styles */
/* End: Inner Pages Part Styles */

/* Start Of Accordion.css */
div.basic
	{
		width:100%;
		margin:0px;
		padding:0px;
		font-size:11px;
        border:solid 1px #fff;
	}
.basic > a
	{
		height:20px;
		outline: none;
		display:block;
		cursor:pointer;
		font-weight:bold;
		line-height:20px;
		/*margin-left:17px;*/
		text-decoration:none;
		padding:2px 5px 2px 5px;
	}
.basic > a.selected
	{
		outline:none;
		display:block;
		cursor:pointer;
		text-decoration:none;
		padding:2px 5px 2px 5px;
	}
.basic > a.active
	{
		outline:none;
		display:block;
		cursor:pointer;
		text-decoration:none;
		padding:2px 5px 2px 5px;
	}
.basic > a:hover
	{
		outline:none;
		display:block;
		cursor:pointer;
		text-decoration:none;
		padding:2px 5px 2px 5px;
	}
.basic > a
	{
		-moz-border-radius-bottomleft:3px !important;
		-moz-border-radius-bottomright:3px !important;
	}
.basic > div.scrolling
	{
		overflow:auto !important;
	}
.basic > div > p
	{
		margin:1.5ex 0px;
		padding:0px 10px 0px 10px;
	}
.basic > div > ul
	{
		margin-top:1ex;
	}
/* End Of Accordian.css */

/* Start Of CollapsiblePanel.css */
.ContainerPanel
	{
		width:100%;
		/*margin-top:5px;*/
	}
	
.ContainerPanelBold
	{
		width:100%;
		font-weight:bolder;
		/*margin-top:5px;*/
	}	
	
.collapsePanelHeader
	{
		height:23px;
		line-height:23px;
		font-size:11px;
		font-family:verdana,tahoma,helvetica;
		font-weight:bold;
		position:relative;
		padding-right:32px;
		margin:3px 0px 0px 0px;
	}
.HeaderContent
	{
		cursor:pointer;
		padding-left:5px;
	}
.ArrowExpand
	{
		bottom:2px;
		width:18px;
		height:18px;
		cursor:pointer;
		float:right;
		right:5px;
		position:absolute;
	}
.ArrowExpand:hover
	{
		cursor:pointer;
	}
.ArrowClose
	{
		bottom:2px;
		width:18px;
		height:18px;
		cursor:pointer;
		float:right;
		right:5px;
		position:absolute;
	}
.ArrowClose:hover
	{
		cursor:pointer;
	}
/* End Of CollapsiblePanel.css */

/* Start Of jquery.datepick.css */
#datepick-div, .datepick-inline
	{
		width:15em;
		margin:0px;
		padding:5px;
		z-index:1000;
		font:bold 11px Verdana, Geneva, sans-serif !important;
	}
#datepick-div
	{
		display: none;
		z-index: 9999; /*must have*/
	}
.datepick-inline
	{
		float: left;
		display: block;
	}
.datepick-rtl
	{
		direction: rtl;
	}
.datepick-dialog
	{
		padding: 5px !important;
	}
.datepick-disabled
	{
		z-index: 100;
		opacity: 0.5;
		position: absolute;
		filter: alpha(opacity=50);
	}
button.datepick-trigger
	{
		width: 25px;
		padding: 0px;
	}
img.datepick-trigger
	{
		margin: 2px;
		cursor:pointer;
		vertical-align: middle;
	}
.datepick-prompt
	{
		float: left;
		padding: 2px;
	}
* html .datepick-prompt
	{
		width: 15em;
	}
.datepick-control, .datepick-links, .datepick-header, .datepick
	{
		clear: both;
		float: left;
		width: 100%;		
		font-size:9px;
		font-family:Verdana, Geneva, sans-serif !important;
	}
.datepick-control
	{
		padding:0px;
		line-height: 20px;
		vertical-align:middle;
	}
.datepick-links
	{
		padding:0px;
		margin-top:3px;
		line-height: 20px;
		vertical-align:middle;
	}
.datepick-links label
	{
		padding: 2px 5px;
	}
.datepick-clear, .datepick-prev
	{
		float:left;
		width:50px;
		height:20px;
		*padding-top:2px;
		text-align:center;
	}
.datepick-rtl .datepick-clear, .datepick-rtl .datepick-prev
	{
		float: right;
		text-align: right;
	}
.datepick-current
	{
		width:50px;
		height:20px;
		float: left;
		margin-left:4px;
		*padding-top:2px;
		text-align: center;
	}
.datepick-close, .datepick-next
	{
		width:50px;
		height:20px;
		float: right;
		*padding-top:2px;
		text-align:center;
	}
#datepick-div a, .datepick-inline a
	{
		margin:0;
		padding:0;
		cursor:pointer;
		font-size:11px;
		text-decoration:none;
	}
#datepick-div a:hover, .datepick-inline a:hover
	{		
		cursor: pointer;
	}
.datepick-rtl .datepick-close, .datepick-rtl .datepick-next
	{
		float:left;
		text-align:left;
	}
.datepick-header
	{
		width:160px;
		padding:0px 3px 3px 3px;
		font-weight:bold;
		text-align:center;
		margin:2px 2px 0px 0px;
	}
.datepick-header select
	{
		background:none;
	}
.datepick-header span
	{
		top:3px;
		border:0px;
		position:relative;
	}
.datepick-new-month	
	{
		float:left;
		font:bold 11px Verdana, Geneva, sans-serif !important;
	}
.datepick-new-year
	{
		float:right;
		font:bold 11px Verdana, Geneva, sans-serif !important;
	}
.datepick
	{
		text-align:center;
	}
.datepick a
	{
		display: block;
		width: 100%;
	}
.datepick-title-row
	{
		font:bold 11px Verdana,Geneva,sans-serif !important;
	}
.datepick-title-row th
	{
		text-align: center;
	}
.datepick-days-cell
	{
		padding:3px;
	}
.datepick-title-row .datepick-week-end-cell
	{
		padding:3px;
		font:bold 11px Verdana, Geneva, sans-serif !important;
	}
.datepick-today a
	{
		font-weight:bold;
	}
.datepick-days-cell-over
	{
		font-weight:bold;
	}
.datepick-status
	{
		width: 100%;		
		text-align: center;
	}
.datepick-inline .datepick-links a
	{
		font-size:9px;
		padding: 0 5px !important;
	}
.datepick-links a
	{
		font-size:9px;
		padding: 2px 10px 5px 7px !important;
		font-family:Verdana, Geneva, sans-serif !important;
	}
.datepick-control a
	{
		font-size:9px;
		font-weight:bold;
		padding: 2px 10px 5px 7px !important;
	}
.datepick-one-month
	{
		float: left;
		width: 15em;
	}
.datepick-new-row
	{
		clear: left;
	}
/* ___________ IE6 IFRAME FIX ________ */
.datepick-cover
	{
		top: -1px; /*must have*/
		left: -1px; /*must have*/
		z-index: -1; /*must have*/
		width: 187px; /*must have*/
		height: 187px; /*must have*/
		filter: mask(); /*must have*/
		display: none; /*sorry for IE5*/
		position: absolute; /*must have*/
		display/**/: block; /*sorry for IE5*/
	}
/* End Of jquery.datepick.css */

/* Start Of jquery.flexbox.css */
.ffb-input
	{
		float:left;
	}
/* Drop-down arrow, with sprited image */
.ffb-arrow
	{
		float:left;
		width:18px;
		height:22px;
	}
.ffb-arrow.out
	{ 
		background-position:0;
	}
.ffb-arrow.over
	{
		background-position:-18px 0;
	}
.ffb-arrow.active
	{
		background-position:-36px 0;
	}
.ffb-no-results 
	{
		padding: 2px;
		font-style:italic;
	}
/* Container for dropdown contents */
.ffb
	{
		overflow:hidden;
		position:absolute;
	}
/* Inner div for dropdown */
.ffb .content
	{
		overflow:auto;
	}
.ffb .content .row
	{
		clear:both;
		height:20px;
	}
.ffb-sel
	{
		cursor:hand;
		cursor:pointer;
	}
.ffb-match
	{
		text-decoration:underline;
	}
/* Paging */
.ffb .paging
	{
		margin:2px;
		vertical-align:middle;
	}
.ffb .page, .ffb a.page
	{
		margin:2px;
		float:left;
		padding:2px;
		font-size:85%;
	}
.ffb .box
	{
		float:left;
		width:18px;
		margin:2px;
	}
.ffb .summary
	{
		float:right;
		font-size:85%;
	}
/* Unique IDs */
#ffb8 .row .col1
	{
		float:left;
		width:132px;
	}
#ffb8 .row .col2
	{
		float:left;
		width:232px;
	}
/* End Of jquery.flexbox.css */

/* Start Of jquery-ui-1.7.2.custom.css */
/* Layout helpers
----------------------------------*/
.ui-helper-hidden
	{
		display: none;
	}
.ui-helper-hidden-accessible
	{
		left: -99999999px;
		position: absolute;
	}
.ui-helper-reset
	{
		margin: 0;
		border: 0;
		padding: 0;
		outline: 0;
		font-size: 100%;
		line-height: 12px;
		list-style: none;
		text-decoration: none;
	}
.ui-helper-clearfix:after
	{
		height: 0;
		clear: both;
		content: ".";
		display: block;
		visibility: hidden;
	}
.ui-helper-clearfix
	{
		display: inline-block;
	}
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix
	{
		height:1%;
	}
.ui-helper-clearfix
	{
		display:block;
	}
/* end clearfix */
.ui-helper-zfix
	{
		top: 0;
		left: 0;
		opacity: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		filter:Alpha(Opacity=0);
	}
.ui-state-default a, .ui-widget-content .ui-state-default a
	{
		outline: none;
		font-weight: normal;
		-moz-border-radius: 0px !important;
		-webkit-border-radius: 0px !important;
		-webkit-border-radius: 0px !important;
	}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus
	{
		outline: none;
		/*font-weight: bold;*/
	}
.ui-state-hover
	{
		outline: none;
		text-decoration: none;
		-moz-border-radius: 0px !important;
		-webkit-border-radius: 0px !important;
	}
.ui-state-hover a, .ui-state-hover a:hover
	{
		outline: none;
		text-decoration: none;
		-moz-border-radius: 0px !important;
		-webkit-border-radius: 0px !important;
	}
/* Overlays */
.ui-widget-overlay
	{
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		position: absolute;
	}
.ui-state-active, .ui-widget-content .ui-state-active
	{
		outline: none;
		font-weight: bold;
	}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited
	{
		outline: none;
		border-top:0px;
		border-bottom:0px;
		text-decoration:none;
		font-size:11px !important;
		font-weight:bold !important;
	}

/* Overlays */
.ui-widget-overlay
	{
		opacity: .30;
		filter:Alpha(Opacity=30);
	}
.ui-widget-shadow
	{
		padding: 8px;
		opacity: .30;
		margin: -8px 0 0 -8px;
		-moz-border-radius: 8px;
		filter:Alpha(Opacity=30);
		-webkit-border-radius: 8px;
	}

/* Tabs */
.ui-tabs
	{
		padding: .2em;
		zoom: 1;
	}
.ui-tabs .ui-tabs-nav
	{
		list-style: none;
		position: relative;
		padding:.6em .2em 0 0;
		font-size:11px !important;
	}
.ui-tabs .ui-tabs-nav li
	{
		float: left;
		position: relative;
		-moz-border-radius: 0px !important;
		-webkit-border-radius: 0px !important;
	}
.ui-tabs .ui-tabs-nav li a
	{
		float: left;
		/*padding: .47em 1.063em;
		padding-bottom:.50em;*/
		text-decoration:none;
		font-size:11px !important;
		
		padding:8px 10px 7px 10px;
		*padding:9px 10px 7px 10px;
	}
.ui-tabs-nav li a:hover
	{
		float: left;
		text-decoration: none;
		-moz-border-radius: 0px !important;
		-webkit-border-radius: 0px !important;
	}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected
	{
		border-bottom-width: 0;
		padding-bottom: -1px !important;
		-moz-border-radius: 0px !important;
		-webkit-border-radius: 0px !important;
	}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a
	{
		cursor: default;
		-moz-border-radius: 0px !important;
		-webkit-border-radius: 0px !important;
	}
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a
	{
		cursor: pointer;
	}
/* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel
	{
		padding:5px;
		display: block;
		margin:-1px 0px 0px 1px;
		*margin:-2px 0px 0px 1px;
	}
.ui-tabs .ui-tabs-hide
	{
		display: none !important;
	}
/* End Of jquery-ui-1.7.2.custom.css */

/* Start Of layout-default-latest.css */
.ui-layout-pane
	{
		padding:0px;
		overflow-y:auto;
		overflow-x:hidden;
	}
.ui-layout-content
	{
		overflow-y:auto;
		overflow-x:hidden;
		position:relative;
		padding:0px 0px 0px 0px;
	}
.ui-layout-resizer
	{
		margin-top:0px;
	}
.ui-layout-resizer-open-hover
	{
		 margin-top:-1px !important;
	}
.ui-layout-resizer-sliding
	{
		opacity: .10;
		FILTER: alpha(opacity=10);
	}
.ui-layout-resizer-sliding-hover
	{
		opacity: 1.00;
		FILTER: alpha(opacity=100);
	}
.ui-layout-resizer-north-sliding-hover
	{
		border-bottom-width:1px;
	}
.ui-layout-resizer-south-sliding-hover
	{
		border-top-width:1px;
	}
.ui-layout-resizer-west-sliding-hover
	{
		border-right-width: 1px
	}
.ui-layout-resizer-east-sliding-hover
	{
		border-left-width:1px;
	}
.ui-layout-resizer-hover .ui-layout-toggler
	{
		opacity: .60;
		FILTER: alpha(opacity=60);
	}
.ui-layout-resizer-hover .ui-layout-toggler-hover
	{
		opacity: 1.00;
		FILTER: alpha(opacity=100);
	}
.ui-layout-toggler-north
	{
		border-width:0px 1px 0px 1px;
	}
.ui-layout-toggler-south
	{
		border-width:0px 1px 0px 1px;
	}
.ui-layout-toggler-west
	{
		border-width:1px 1px 1px 0px;
	}
.ui-layout-toggler-east
	{
		border-width:1px 1px 1px 0px;
	}
.ui-layout-resizer-sliding ui-layout-toggler
	{
		display:none;
	}
.ui-layout-toggler .content
	{
		font-size:11px;
		font-weight:bold;
		padding-bottom:0.35ex;
	}
.ui-layout-center
	{
		padding:0px 5px 5px 5px;
		overflow:auto;
		padding-right:10px;
	}
.ui-layout-south
	{
	    position:fixed;
	    overflow:hidden !important;
	}
/* End Of layout-default-latest.css */

/* Start Of menu.css */
#mnuMain
	{
		width:100%;
		display:inline;
		overflow:visible;
		margin-left:15px;
		position:absolute;
		font-weight:bold;
		height:28px !important;
		font-size :11px !important;
		min-width:1024px !important;
		font-family:verdana,tahoma,helvetica;
	}
#mnuMain ul
	{
		top:3px;
		*top:2px;
		font-size :11px !important;
		margin:0px !important;
		padding:0px !important;
	}
#Menu1
	{
		margin:0px;
		clear:both;
		padding:0px;
	}
#mnuMain ul li
	{
		float:left;
		padding-left:1px;
		position:relative;
		padding-right:3px;
		padding-top:3px !important;
		*padding-top:5px !important;
	}
#mnuMain ul li a
	{
		display:block;
		font-weight:bold;
		line-height:15px;
		font-size :11px !important;
		padding:1px 7px 2px 7px !important;
	}
#mnuMain ul li a:hover
	{
		padding:1px 7px 0px 5px;
	}	
#mnuMain ul ul
	{
		left:0;
		top:27px;
		z-index:999;
		width:220px;
		_width:220px;
		position:absolute;
		margin-top:0px !important;
		border-top:none !important;
	}
#mnuMain ul ul li
	{
		margin:0;
		width:100%;
		padding:0px !important;
		font-size:11px !important;
	}
#mnuMain ul ul li a
	{
		float:none;
		display:block;
		white-space:normal;
		font-size:11px !important;
		padding:5px 6px 5px 7px !important;
	}
#mnuMain ul ul, 
#mnuMain ul li:hover ul ul,
#mnuMain ul li:hover ul ul ul,
#mnuMain ul li.ieover ul ul,
#mnuMain ul li.ieover ul ul ul
	{
		display:none;
	}
#mnuMain li:hover ul,
#mnuMain ul ul li:hover ul,
#mnuMain ul ul ul li:hover ul,
	{
		display:block;
	}
/* End Of menu.css */

/* Start Of ModalPopup.css */
.modalBackground {
    text-align: center;
    border: none !important;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.updateProgress
	{
		width:130px;
		height:70px;
		margin:0px auto;
		border:none !important;
		margin-left:-1px !important;
		text-align:center !important;
		
		*margin-left:-66px !important;
	}
.progressBarImg
	{
		*margin-left:55px;
		*display:inline-block;
	}
.updateProgressMessage
	{
		font-size:small;
		*margin-left:55px;
		*display:inline-block;
		font:normal 11px Verdana, Geneva, sans-serif !important;
	}
/* End Of ModalPopup.css */

/* Start Of ui.datetimepicker.css */
#datetimepicker_div,  .datetimepicker_inline
	{
		padding: 0;
		margin: 0;
		width: 185px;
		font-size: 14px;
		font-family: Arial, Helvetica, sans-serif;
	}
#datetimepicker_div
	{
		z-index: 10;
		display: none;
	}
.datetimepicker_inline
	{
		border: 0;
		float: left;
		display: block;
	}
.datetimepicker_dialog
	{
		padding: 5px !important;
	}
button.datetimepicker_trigger
	{
		width: 25px;
	}
img.datetimepicker_trigger
	{
		margin: 2px;
		vertical-align: middle;
	}
.datetimepicker_prompt
	{
		float: left;
		padding: 2px;
	}
*html  .datetimepicker_prompt
	{
		width: 185px;
	}
.datetimepicker_control,  .datetimepicker_links,  .datetimepicker_header,  .datetimepicker
	{
		clear: both;
		float: left;
		width: 100%;
	}
.datetimepicker_links
	{
		padding: 2px 0px;
	}
.datetimepicker_control,  .datetimepicker_links
	{
		font-size: 80%;
		font-weight: bold;
		letter-spacing: 1px;
	}
.datetimepicker_links label
	{
		padding: 2px 5px;
	}
.datetimepicker_clear,  .datetimepicker_prev
	{
		width: 55px;
		float: left;
	}
.datetimepicker_current
	{
		width: 55px;
		float: left;
		text-align: center;
	}
.datetimepicker_close,  .datetimepicker_next
	{
		width: 55px;
		float: right;
		text-align: center;
	}
.datetimepicker_header
	{
		height: 3em;
		font-weight: bold;
		padding: 1px 0 3px;
		text-align: center;
	}
.datetimepicker_header select
	{
		border: 0px;
		font-weight: bold;
	}
.datetimepicker
	{
		font-size: 100%;
		text-align: center;
	}
.datetimepicker a
	{
		width: 100%;
		display: block;
	}
#datetimepicker .datetimepicker_daysCell a
	{
		display: block;
	}
#datetimepicker_div a,  .datetimepicker_inline a
	{
		margin: 0;
		padding: 0;
		cursor: pointer;
		background: none;
        font-size: 11px;
	}
.datetimepicker_inline .datetimepicker_links a
	{
		padding: 0 5px !important;
	}
.datetimepicker_control a,  .datetimepicker_links a
	{
		padding: 2px 5px !important;
	}
.datetimepicker_oneMonth
	{
		float: left;
		width: 185px;
	}
.datetimepicker_newRow
	{
		clear: left;
	}
.datetimepicker_cover
	{
		top: -4px;
		left: -4px;
		z-index: -1;
		width: 193px;
		height: 200px;
		display: none;
		filter: mask();
		display/**/: block;
		position: absolute;
	}
/* End Of ui.datetimepicker.css */
.watermark
	{
		line-height:25px !important;
		display:inline-block;
	}
/* Start Of extra.css */
#lgnBase_UserNameRequired
	{
	    margin:10px 0px 0px 0px !important;
		*margin:-10px 0px 0px 0px !important;
	}
#lgnBase_PasswordRequired
	{
		margin:-10px 0px 0px 0px !important;
		*margin:-10px 0px 0px 0px !important;
	}
.loginFailureText
	{
		position:absolute !important;
		*padding-top:84px;
		*padding-left:12px;
	}
.failureText
	{
		position:absolute !important;
		*padding-top:110px;
	}
.datepick-trigger
	{
		width:16px;
		height:16px;
	}
	
	#uppAgencyLinks a
	{
	    padding:5px;
	    line-height:22px;
	}
	
	#uppAgencyLinks a:hover
	{
	    background-image:none !important;
	    padding:5px;
	    line-height:22px;
	}
	#Div1
	{
		/*height:auto !important;*/
	}
#trvCenterLeft	
	{
		margin-left:19px !important;
		font:bold 10px Verdana, Geneva, sans-serif !important;
	}
#trvCenterLeft a:hover
	{
		background:none !important;
	}
#cphCenterMiddle_tblComment td
	{
		text-align:left !important;
	}
#cphCenterMiddle_capSystemMonthlyBaseBenefitAmt
	{
		font-weight:bold !important;
	}
.gridItemThresholdYellow
	{
		padding:10px;
	}
.gridItemThresholdRed
	{
		padding:10px;
	}
.gridItemWrapText
	{
		text-align:left;
		white-space:pre-line;
	}
.labelColumn
	{
		text-align:right;
		white-space:nowrap;
	}
.uppLockPerson
	{
		padding-top:5px;
		display:inline-block !important;
		*display:inline-block !important;
	}
.textBoxDisplayStyleNone
	{
		display:none;    
	}
#cphCenterMiddle_tblLinkToolbox
	{
		line-height:18px !important;
		vertical-align:top !important;
	}
/* End Of extra.css */
/*Start - Added for Benefit Calculation Screens*/
 .spanLabelOne
	{
		width:320px !important;
		text-align:right !important;
		display:inline-block !important;
	}
.spanLabelTwo
	{
		width:235px !important;
		text-align:right !important;
		display:inline-block !important;
	}
.AppTracking
	{
		width:100px;
		text-align:right;
		padding-left:25px;
		font-weight:normal;
	}
/*End*/

@media print 


{
               .table
                {
                    font:normal 11px verdana,tahoma,helvetica !important;
                }
                    
             .label
                 {
                     font:normal 11px verdana,tahoma,helvetica;
                 }
            .Content
	            {
		            border:none !important;
		            font:normal 11px verdana,tahoma,helvetica !important;
	            }
            .buttonbg
                {
                    background:none !important;
                    color:#000 !important;
                }
            .collapsePanelHeader
                {
                    border:1px solid #000 !important;
                }
                
             .ui-tabs .ui-tabs-panel
                 {
                    border:none !important;
                    border-top:1px solid #000 !important;
                 }
  }
  
 .RowSelectedWF
{
    background-color:Yellow;
}


/* Start: midContent Style */
#midContent
    {
        float:left;
		width:780px;
        margin:4px 0px 0px 0px;
    }
.midContentBox
    {
        float:left;
        width:783px;
    }
.midContentBoxLt
    {
        float:left;
        width:385px;
        padding-right:3px;
    }
.midContentBoxRt
    {
        float:left;
        width:350px;
        padding-left:3px;
        margin-left:10px;
    }
.midContentBoxNewLt
    {
        float:left;
        width:355px;
    }
.midContentBoxNewRt
    {
        width:385px;
    }
.midContentBoxTop
    {
        height:11px;
		width:759px;
    }
.midContentBoxBtm
    {
        height:11px;
		width:759px;
		float:left;
    }
.midBoxTop
    {
        height:11px;
		width:376px;
    }
.midBoxBtm
    {
        height:11px;
		width:376px;
    }
.midBoxBtmInner
    {
        height:11px;
		width:376px;
    }
.midBoxContentBgRpt
    {
        float:left;
		width:735px;
        padding:0px 12px 0px 12px;
    }
.midBoxContent
    {
		min-height:235px;
        padding:0px 0px 0px 12px;
    }
.midBoxContentUser
    {
        width:325px;
        padding:0px;
		min-height:235px;
    }
.midBoxContent img
    {
        float:left;
    }
.midBoxContentUser h1
    {
        margin:0;
        color:#243338;
        text-align:justify;
        padding:15px 0px 10px 10px;
        font:bold 14px "Segoe UI", Verdana, Geneva, sans-serif;
    }
.midBoxContent h1
    {
        margin:0;
        color:#243338;
        text-align:justify;
        padding:15px 0px 10px 10px;
        font:bold 14px "Segoe UI", Verdana, Geneva, sans-serif;
    }
.midBoxContent h2
    {
        margin:0;
        color:#243338;
        text-align:justify;
        padding:5px 0px 20px 0px;
        font:normal 13px "Segoe UI", Verdana, Geneva, sans-serif;
    }
.midBoxContent p
    {
        margin:0px;
        color:#243338;
        text-align:justify;
        padding:7px 0px 7px 10px;
        line-height:23px !important;
        font:normal 12px "Segoe UI", Verdana, Geneva, sans-serif;
    }
.midBoxContent p.bgBottom
    {
        background:none;
    }
.midBoxContent p a
    {
        float:left;
        width:200px;
        color:#424040;
        margin:6px 0px;
        padding-left:6px;
        text-decoration:none;
    }
.midBoxContent p a:hover
    {
        text-decoration:underline;
    }
.midBoxContent ul
    {
        padding:0px;
        color:#243338;
        list-style:none;
        text-align:justify;
        margin:0px 0px 0px 6px;
        font:normal 12px "Segoe UI", Verdana, Geneva, sans-serif;
    }
.midBoxContent ul li
    {
        margin:0px;
        list-style:none;
        line-height:18px;
        padding:3px 15px 3px 15px;
    }
.midBoxBlue
    {
		width:376px;
    }
.midBoxBlue h1
    {
        margin:0;
        color:#243338;
        text-align:justify;
        padding:10px 0px 0px 12px;
        font:normal 18px "Segoe UI", Verdana, Geneva, sans-serif;
    }
.midBoxBlue h2
    {
        margin:0;
        color:#243338;
        text-align:justify;
        padding:10px 0px 0px 12px;
        font:normal 14px "Segoe UI", Verdana, Geneva, sans-serif;
    }
.midBoxBlue p
    {
        margin:0;
        color:#243338;
        text-align:justify;
        padding:14px 11px 0px 22px;
        font:normal 12px "Segoe UI", Verdana, Geneva, sans-serif;
    }
.midBoxBlue p a.textLinks
    {
        color:#243338;
        text-decoration:underline;
        padding:10px 25px 0px 12px;
        font:normal 12px "Segoe UI", Verdana, Geneva, sans-serif;
    }
.midBoxBlue p a:hover
    {
        color:#6b9fb0;
        text-decoration:underline;
        padding:10px 25px 0px 12px;
    }
.midBoxBlue span
    {
        color:#014274;
        text-decoration:none;
    }
.loginErrorMsg
	{
	    text-align:center;
	    padding:0px 0px 0px 0px;
	    font-size:11px !important;
	    font-weight:normal !important;
	}
.loginErrorMsg ul
    {
        color:#f00;
        padding:0px;
        list-style:none;
        margin:0px 0px 0px 6px;
        background-image:none !important;
        font:normal 12px "Segoe UI", Verdana, Geneva, sans-serif;
    }
.loginErrorMsg ul li
    {
        color:#f00;
        margin:0px;
        list-style:none;
        padding:0px 15px 0px 15px;
        background-image:none !important;
    }
.loginErrorMsgSelf
	{
	    width:374px;
	    text-align:left;
	    margin:0px 0px 15px -20px;
	    *margin:0px 0px 15px -20px;
	    padding:0px 0px 0px 0px;
	    font-size:11px !important;
	    font-weight:normal !important;
	}
.loginErrorMsgSelf ul
    {
        color:#f00;
        padding:0px;
        list-style:none;
        margin:0px 0px 0px 0px;
        background-image:none !important;
        font:normal 12px "Segoe UI", Verdana, Geneva, sans-serif;
    }
.loginErrorMsgSelf ul li
    {
        color:#f00;
        margin:0px;
        list-style:none;
        padding:0px 0px 0px 0px;
        background-image:none !important;
    }
.loginErrorMsgAll
	{
	    width:374px;
	    text-align:left;
	    margin:0px 0px 15px 15px;
	    *margin:0px 0px 15px 15px;
	    padding:0px 0px 0px 0px;
	    font-size:11px !important;
	    font-weight:normal !important;
	}
.loginErrorMsgAll ul
    {
        color:#f00;
        padding:0px;
        list-style:none;
        margin:0px 0px 0px 0px;
        background-image:none !important;
        font:normal 12px "Segoe UI", Verdana, Geneva, sans-serif;
    }
.loginErrorMsgAll ul li
    {
        color:#f00;
        margin:0px;
        list-style:none;
        padding:0px 0px 0px 0px;
        background-image:none !important;
    }
.loginErrorMsgCQ
	{
	    width:374px;
	    text-align:left;
	    margin:0px 0px 15px 0px;
	    *margin:0px 0px 15px 0px;
	    padding:0px 0px 0px 0px;
	    font-size:11px !important;
	    font-weight:normal !important;
	}
.loginErrorMsgCQ ul
    {
        color:#f00;
        padding:0px;
        list-style:none;
        margin:0px 0px 0px 0px;
        background-image:none !important;
        font:normal 12px "Segoe UI", Verdana, Geneva, sans-serif;
    }
.loginErrorMsgCQ ul li
    {
        color:#f00;
        margin:0px;
        list-style:none;
        padding:0px 0px 0px 0px;
        background-image:none !important;
    }
#loginUserContent
    {
        margin-top:30px;
    }
.loginTxt
	{
		*width:150px;
		text-align:left;
		display:inline-block;
		padding:0px 30px 0px 9px;
		*padding:0px 5px 0px 9px;
		font:bold 12px "Segoe UI",Verdana,Geneva,sans-serif;
	}
.loginTxtNew
	{
		width:155px;
		text-align:left;
		display:inline-block;
		padding:0px 5px 0px 0px;
		font:normal 14px "Segoe UI",Verdana,Geneva,sans-serif !important;
	}
.loginTxtPWD
	{
		width:135px;
		text-align:left;
		display:inline-block;
		padding:0px 5px 0px 0px;
		font:normal 14px "Segoe UI",Verdana,Geneva,sans-serif !important;
	}
.loginTxtBox
    {
	    height:20px;
	    width:200px;
	    text-align:left;
	    line-height:29px;
	    vertical-align:middle;
	    margin:8px 0px 10px 0px;
	    padding:4px 0px 1px 4px;
	    font:normal 12px "Segoe UI", Verdana, Geneva, sans-serif !important;
    }
.loginButton
	{
	    float:left;
		width:75px;
		height:27px;
		padding:0px;
		margin:5px 0px 0px 104px;
		*margin:5px 0px 0px 106px;
		font:normal 13px "Segoe UI", Verdana, Geneva, sans-serif !important;
	}
.loginFooter
    {
        width:759px;
        height:42px;
        display:inline-block;
        margin:170px 0px 0px 0px;
        font:normal 12px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    }
.loginFooterCenter
    {
        float:left;
        width:761px;
        padding:0px;
        text-align:center;
        *padding:13px 0px 0px 0px;
        font:normal 12px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    }
    .classFormatSSN
    {
        
    }
    .classFormatPhone
    {
        
    }
/* End: midContent Style */
#vlsErrors ul
    {
        margin:0px 0px 0px 7px;
        padding:0px 0px 0px 7px;
    }
.dialogErrors
    {
        font-family: 'Segoe UI';
        font-weight: bold;
        color: #FF0000;
    }
.modalpopup
{
    height:600px !important;
}

/*FM upgrade: 5.4.21.0 changes*/
.breadcrumb li:last-child a:before {
	display: none;
}
.breadcrumb {
	list-style: none;
	overflow: hidden;
	font: 11px Helvetica, Arial, Sans-Serif;
	float: left;
}
.breadcrumb-page-info {
	float: left;
}

/*FM upgrade: 6.0.0.24 changes*/
.tag-list {
	list-style-type: none;
	width: calc(100% - 11px);
	border: 1px solid #808080;
	float: left;
	padding: 5px 0px 5px 5px;
	box-sizing: border-box;
	margin: 0px 0px 5px 5px;
}
	.tag-list li {
		float: left;
		box-sizing: border-box;
		margin-right: 5px;
		position: relative;
	}
		.tag-list li .tagcaption {
			display: none;
			position: absolute;
			z-index: 99;
			top: -22px;
			white-space: nowrap;
			background: #CCC;
			padding: 3px;
			border: 1px solid #EEE;
			font-size: 10px;
		}
		.tag-list li a {
			cursor: pointer;
			display: block;
			color: #FFF;
			padding: 5px 20px;
			position: relative;
			background: #808080;
			height: 15px;
		}
			.tag-list li a:hover {
				color: #FFFFFF;
				background: #BBB;
			}
		.tag-list li:hover a:before {
			content: "X";
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			font-size: 20px;
			border-left-color: #BBB;
			color: red;
		}
		.tag-list li:hover a:after {
			border-left-color: #BBB;
		}

/*FM upgrade: 6.0.0.24 changes*/
.slider-container {
	width: 100%;
	float: left;
}
.ui-slider {
	width: 80%;
	float: left;
}
.slider-value {
	width: 18%;
	float: left;
	padding-left: 10px;
	box-sizing: border-box;
}

/*FM upgrade: 6.0.0.25 changes*/
.nav-store-state {
	background: url('../Images/store-session-img.png') no-repeat 3px 6px;
}
	.nav-store-state:hover {
		background: url('../Images/store-session-img-hover.png') no-repeat 3px 6px;
	}

.ui-datepicker {
	z-index: 9999999999 !important;
}

.ui-dialog {
    position: relative;
    padding: .2em;
    float: left;
    z-index: 999;
}

/*FM upgrade: 6.0.0.26 changes*/
.slider-container {
	width: 100%;
	float: left;
}

.ui-slider {
	width: 80%;
	float: left;
}

.slider-value {
	width: 10%;
	float: left;
	padding-left: 5px;
	box-sizing: border-box;
	margin-top: -2px;
}

#slider_sldPageSize {
	width: 100px;
	border: 1px solid;
}

.ui-slider-handle:hover {
	background: #026270 !important;
	border: 1px solid;
}

.ui-slider-handle {
	background: #7a7672 !important;
}

#ToolTipDiv {
	opacity: 1 !important;
}

#uppWorkflow{
    overflow: auto;
	height:423px !important;
}

.posRelative{
	position:relative;
}

.Content .Table, #cphCenterMiddle_tblReports #cphCenterMiddle_tblQueryParameters {
    width: auto;
}

.fullWidth .Content > .Table, #cphCenterMiddle_tblOtherDetails, .fieldSetWidth .Table {
    width: 100%;
}

.Message tr td span:nth-child(4) {
    margin-left: 5px;
}

.Message tr td span:nth-child(2) {
    margin-left: 5px;
}

@media print {
    .buttonbg {
        display: inline-table !important;
        float: left !important;
        width: auto !important;
    }
}

.s-gridparent.s-grid-container .s-grid-toolbar-container , .width100 {
    width: 100%;
}

.ChangeAlign .s-number {
    text-align: left !important;
}

div[sfwcaption="Add User"] {
    padding: 12px 40px 12px 20px;
}

.hideControl {
    display:none;
}

.noWrap th{
   white-space: nowrap !important;
}