body {
}
/* #region Activity */
#busyindicator {
    z-index: 10000;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

#page-loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    padding-top: 25px;
    display: none;
    background: rgba(0,0,0,.3);
}

/* default style */
.selectnav {
    display: none;
}

/* small screen */
@media screen and (max-width: 900px) {
    .js #MenuUl {
        display: block;
    }

    .js .selectnav {
        display: none;
    }

    .toggle-menu-container {
        width: 240px;
    }

    .toggle-menu-container .CssSliderLeftMenu.cssmenu li > .sub-menu {
        left: 240px;
        width: 240px;
    }

    #header .centerWrap .header-controls .global-nav li {
        margin-right: 2px !important;
    }

    #header .centerWrap .header-controls .global-nav li a, #header .centerWrap .header-controls .my-task-btn {
        font-size: 0 !important;
        height: 35px;
        line-height: 35px;
        border-radius: 50% !important;
        width: 35px !important;
        padding: 0 !important;
    }

    #header .centerWrap .header-controls .my-task-btn {
        margin: 16px 4px 0 0 !important;
        background: url(../Images/btn-my_task.svg) no-repeat 8px 8px !important;
    }

    #header .centerWrap .header-controls .user-account {
        padding: 8px 20px 8px 10px !important;
        margin: 16px 10px 0 0 !important;
        background: url(../Images/panel-down-white.svg) no-repeat 99% center transparent !important;
    }

    #header .centerWrap .header-controls .user-account:hover{
        color: #FFF !important;
    }

    #header .centerWrap .page-title {
        left: 43% !important;
        line-height: 26px !important;
        display: flex !important;
        align-items: center;
        justify-content: center;
    }

    #NotificationBar {
        left: 180px !important;
    }
}

@media screen and (max-width: 900px) {

}

.placeholder {
    opacity: 0.4;
    border: 1px dashed #a6a6a6;
}

.userpermission, .userpermission td
{
    color: orangered !important;
}

.highPriorityTask, .highPriorityTask td
{
    color: palevioletred !important;
}
