/*CollapsiblePanel*/
.ContainerPanel
{
    
    margin-bottom: 10px;
	 
    
}
.HeaderContent
	{
	    color:#fff;
	    *height:22px;
		background:#27a4a4;
		border-radius:5px 5px 0px 0px;
		width:101.6%;
	}
/* pir 8613
.ArrowExpand
	{
		background:url(Images/innerbtnbg.png) repeat-x left -253px;
	}*/
.ArrowClose
	{
		background:url(Images/innerbtnbg.png) repeat-x left -234px;
	}
/*.stepSelect
	{
	    float:left;
		width:24px;
		height:24px;
	    color:#014274;
	    font-weight:bold;
	    text-align:center;
	    padding:4px 0px 0px 0px; 
		margin:0px 0px 0px 7px;
		background:url(Images/stepSelectBg.png) no-repeat left top transparent;
	}
.stepNormal
	{
	    float:left;
		width:24px;
		height:24px;
	    color:#6c6c6c;
	    text-align:center;
		font-weight:bold;
	    padding:4px 0px 0px 0px;
		margin:0px 0px 0px 7px;
		background:url(Images/stepNormalBg.png) no-repeat left top transparent;
	}
.stepLabel
	{
	    float:left;
	    color:#014274;
	    text-align:center;
		font-weight:bold;
	    padding:4px 0px 0px 0px;
		margin:0px 0px 0px 0px;
	}
.wizbg {
	font-family: verdana;
	font-size: 11px;
	font-weight: bold;
	color: #666;
	background-color: #e6e5e5;
	height: 26px;
	*height: 26px;
	padding: 0px;
}
.stepNormal {
	font-family: verdana;
	font-size: 11px;
	font-weight: bold;
	color: #666;
	padding: 5px;
	height: 16px;
	*height: 16px;
	background-image: url(Images/stepnormal_r.gif);
	background-repeat: no-repeat;
	background-position: right top;
	text-align: center;
}
.stepSelect {
	font-family: verdana;
	font-size: 11px;
	font-weight: bold;
	background-color: #3cc1f8;
	background-image: url(Images/wizard_high_bg.gif);
	background-repeat: no-repeat;
	background-position: right top;
	padding-top: 5px;
	padding-right: 40px;
	padding-bottom: 3px;
	padding-left: 10px;
	color: #FFF;
	text-align: center;
	height: 16px;
	*height: 16px;
}*/
.stepTD
	{
	    /*float:right;*/
	    display:inline-block;
		margin:-5px 25px 0px 7px;
	}
.step_TD
	{
	    float:left;
		margin:-25px 0px 0px -165px;
	}
.headerBorder
	{
	    color:#fff;
		padding:3px;
		float:left;
		width:720px;
		display:block;
		font-weight:bold;
		margin:0px 0px 0px 0px;
		/*background-color:#0281d6;*/
		background:#0281d6 url(Images/headerBg.png) no-repeat left top;
		/*border-bottom:2px solid #014274;*/
	}
.Completed
{
    background-color: #626859;
    color: White;
    padding: 5px;
}
.Pending
{
    background-color: #626859;
    color: White;
    padding: 5px;
}
.Current
{
    background-color: #a5b58e;
    color: White;
    padding: 5px;
}
ul.steps
	{
	    margin-left: -35px !important;
		list-style-type: none;
	}
ul.steps li
	{
		float:left;
		height:18px;
		color:#7e7e7e;
		line-height:20px;
		margin:0px !important;
		padding:2px 20px 0px 25px;
		font:normal 11px verdana,tahoma,helvetica;
		background:url(images/steps.png) left top no-repeat;
	}
ul.steps li.emptygray
	{
		background-position: left top;
	}
ul.steps li.emptyblue
	{
		background-position: left -21px;
	}
ul.steps li.start
	{
		color:#fff;
		background-position: left -147px;
		font:bold 11px verdana,tahoma,helvetica;
	}
ul.steps li.startnext
	{
		color:#fff;
		background-position: left -105px;
		font:bold 11px verdana,tahoma,helvetica;
	}
ul.steps li.startmiddle
	{
		background-position: left -13px;
		font:bold 11px verdana,tahoma,helvetica;
	}
ul.steps li.next
	{
		background-position: left -84px;
	}
ul.steps li.nextcontinue
	{
		background-position: left -42px;
	}
ul.steps li.nextstart
	{
		background-position: left -126px;
	}
.dialogErrors
{
    color: #FF0000;
    font:bold 11px verdana,tahoma,helvetica !important;
}
.HiddenControl
{
    display: none;
}
