/* Important Note: Common classes has been added in Common.css file */

.modalBackground 
	{
		color:#fff;
		font-weight:bold;
		padding-bottom:10px;
		padding-right:5px;
		text-align:center;
		border-bottom:none !important;
		background:url(Images/loadingBg.png) no-repeat scroll left 5px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
		
	}
.updateProgress
	{
		color:#fff;
		font-weight:bold;
		width:130px;
		height:70px;
		margin:0px auto;
		border-top:none !important;
		text-align:center !important;
		border-right:none !important;
	}
.progressBarImg
	{
		display:inline-block !important;
		*display:inline-block !important;
		margin-left:-25px !important;
	}
.updateProgressMessage
	{
		color:#2e3a3d;
		padding-top:5px;
		*display:inline-block;
		*margin-left:-25px !important;
		font:bold 11px Verdana, Geneva, sans-serif !important;
	}
#pnlPopup
    {
        width:130px !important;
        height:70px !important;
        border:none !important;
        background:none !important;
        overflow:hidden !important;
    }