/* Important Note: Common classes has been added in Common.css file */

/* Begin: Login Part Styles */
.loginBody
	{
		background:#283b49 url(Image/loginBodyBg.jpg) repeat-x left top;
	}
#loginboxBg
	{
		background-position:left; 
		background-repeat: no-repeat;
		background-image: url(Image/LoginBoxBg.png);
		
	}
.loginTxt
	{
		color:#243338;
	}
.loginTxtBox
	{
	    color:#243338;
		border:1px solid #65808c;
		background:url(Image/loginTxtBoxBg.png) repeat-x scroll 0 0 transparent;
	}
.midBoxBlue p a.textLinks
    {
        background:url(Image/arrowRight.png) no-repeat scroll left 17px transparent;
    }
input.loginBtnBg:hover
	{	
		color:#0081c2;
		background:url(Image/loginBtnBgOver.png) left top no-repeat;
	}
.midContentBoxRt
    {
        background:url(Image/deviderStroke.png) left top no-repeat;
    }
.loginFooter
    {
        color:#fff;
    }
.loginLabel
	{
		color:#05466a;
	}
.copytxt
	{
		color:#333;
	}
.loginCopyRightsTxt
	{
		color:#333;
	}
.loginUserContent
	{
		color:#05466a;
	}
.loginLeftContent
	{
		color:#05466a;
	}
.loginContent	
	{
		color:#05466a;
	}
#lgnBase_UserNameRequired
	{
		color:#f00 !important;
	}
#lgnBase_PasswordRequired
	{
		color:#f00 !important;
	}
.loginFailureText
	{
		color:#f00 !important;
	}
.loginBg
    {
	    background:url(Image/loginBg.png) no-repeat left top;
    }
.bannerBg
	{
		background:url(Image/loginBanner.png) no-repeat left top;
	}
/* End: Login Part Styles */
.innerPgsBody
	{
		background-color:#f2f8fa;
	}
#top_head
	{
		background-color:#c5e2ea;
		background-repeat:repeat-x;
		background-image: url(Image/Header_Top_Bg.png);
	}
.UnreadMessage
	{
		background-color:#ffff9F;
	}
.silhouette
	{
		background-position:center;
		background-repeat:no-repeat;
		background-image:url(Image/silhouette1.png);
	}
.headerDiv
	{
		background-position:center;
		background-repeat:no-repeat;
		background-image:url(Image/headerDevider.png);
	}
/* Begin: Header Part Styles */
#header
	{
		background:url(Image/Header_Top_Center.png) repeat-x left top;
	}
.HeaderTopLeft
	{
		background-repeat:no-repeat;
		background-position:left top;
		background-image:url(Image/Header_Top_Left.png);
	}
.HeaderTopCenter
	{
		color:#fff;
		background:url(Image/Header_Top_Center.png) repeat-x;
	}
.HeaderTopRight
	{
		background:url(Image/Header_Top_Right.png)  no-repeat right -1px;
	}
.headrightIcon a
	{
		color:#4c7996;
	}
.headrightIcon a:hover
	{
		color:#44a6e5;
	}
.menubg
	{
		background:url(Image/MainMenu_Bg.gif) repeat-x;
	}
.menuL
	{
		background:url(Image/MainMenu_Bg.gif) no-repeat left top;
	}
.menuR
	{
		background:url(Image/MainMenu_Bg.gif) no-repeat right top;
	}
.Menuleft
	{
		background-position:left;
		background-repeat: no-repeat;
		background-color:transparent;
		background-image: url(Image/Menu_L.gif);
	}
.MenuCenter
	{
		color:#333;
		background-repeat:repeat-x;
		background-image:url(Image/MainMenu_Bg.gif);
	}
..MenuCenter a
	{
		color:#333;
	}

.MenuCenter a:hover
	{
		color:#3399cc;
	}
.MenuRight
	{
		background-position:right;
		background-repeat:no-repeat;
		background-color:transparent;
		background-image:url(Image/Menu_R.gif);
	}
.mpiLogo
    {
         background:url(Image/mpiLogoBg.jpg) repeat-x left top;
    }
.ButtonCell
	{
		/*color:#000000;
		background:url(Image/innerbtnbg.png) repeat-x right -308px;
		*background:url(Image/innerbtnbg.png) repeat-x right -308px;*/
	}
.ButtonTable
	{
		color:#000000;
		display:inline;
		
		[if lte IE 7] display:inline-table; 
	}
.buttonbg
	{
		color:#000;
		border:solid 1px #000000;
		background-repeat:repeat-x;
		background-image:url(Image/button_bg.gif);
		/*
		color:#fff;
		background:url(Image/innerbtnbg.png) repeat-x left -278px;
		*background:url(Image/innerbtnbg.png) repeat-x left -278px;
		*/
	}
input.buttonbg:hover
	{
		/*color:#eaeaea;*/
	}
.MyModalPanel
	{
		background:#fff url(Image/loading.gif) center center no-repeat;
	}

A A:link A:active A:visited
	{
		color:#238fc7;
		font-weight:bold;
	}
.loader
	{
		color:#cc0033;
		font-weight:bold;
	}
.menubg a:link
	{
		color: #ffffff;
		text-decoration: none;
	}
.menubg a:hover
	{
		color:#ffffff;
		text-decoration: none;
	}
.menubg a:visited
	{
		color: #ffffff;
		text-decoration: none;
	}
.submenuitem
	{
		color:#333;
		background-color:#c4e2e2;
	}
.submenu
	{
		background-color:#ffffff;
	}
.submenu a
	{
		color: #333;
	}
.submenuover
	{
		color:#333;
		background-color:#97d3da;
	}
#pnlSmartLinks ul li
	{
		color:#074241 !important;
		background-repeat:no-repeat;
		background-position:3px 0px;
		background-image:url(Image/listArrow.gif);
	}
#pnlSmartLinks ul li a
	{
		color:#074241 !important;
	}
#pnlSmartLinks ul li a:hover
	{
		color:#074241 !important;
	}
#calAgency
	{
		border:2px solid #3e5e70 !important;
	}
#calEvents
	{
		border:2px solid #3e5e70 !important;
	}	
.dayHover:hover
	{
		background-color:#b0d2d1;
	}
/* Begin: Left Content Styles */
		.smartlinks
			{
				color:#4d4d4d;
			}
		 .smartlinks a
			{
				color:#4d4d4d;
			}
		.smartlinks a:hover
			{
				color:#4d4d4d;
			}
		.leftMPIIcon
		    {
		        background:url(Image/Icon_MPI.png) repeat-x left top;
		    }
		.leftSmartNaviIcon
		    {
		        background:url(Image/Icon_Smart_Navigation.png) repeat-x left top;
		    }
		.leftMyBasketIcon
		    {
		        background:url(Image/Icon_My_Basket.png) repeat-x left top;
		    }
/* End: Left Content Styles */
			/* Begin: Grid Styles */
			.gridTable 
				{
					border:1px solid #A8B55B;
					background:none repeat scroll 0 0 #FFFFFF;
				}
			.gridhead
				{
					color:#000 !important;
					background-color:#659293 !important;
					/*background:url(Image/table-heading-bg.jpg) repeat-x left top;*/
				}
			.gridhead th a
				{
					color:#fff;
				}
			.gridhead th a:hover
				{
					color:#d9d3af;
				}
			.gridhead a:hover
				{
					color:#d9d3af;
					background:none !important;
				}
			.gridhead a:visited
				{
					color:#d9d3af;
				}
			.gridhead th, .gridodd td, .grideven td, .gridselected td, .primaryaddrcontct td
				{
					/*border:1px solid #fff;
					*border-right:2px solid #84babc !important;*/
				}
			.gridodd td
				{
					/**border-right:1px ridge #69f8fe !important;*/
				}
			.gridnormal
				{
					color:#333333;
				}
			.gridnormal td
				{
					color:#333333;
				}
			.gridnormal span
				{
					border:1px solid #ccc;
					background:#f1f1f1 url(Image/pageNavBg.gif) repeat-x left top;
				}
			.gridnormal a:hover
				{
					color:#005197;
					background:none !important;
				}
			.gridodd
				{
					color:#000;
					background:none repeat scroll 0 0 #f5f5f4;
				}
			.gridodd a
				{
					color:#314553;
					font-weight:bold;
				}
			.gridodd a:hover
				{
					color:#2d3500;
					background:none !important;
				}
			tr.gridodd span
				{
					color:#000000;
				}
			.grideven
				{
					color:#000000;
					background:none repeat scroll 0 0 #e6e6e6;
				}
			tr.grideven span
				{
					color:#000000;
				}
			.grideven a
				{
					color:#314553;
					font-weight:bold;
				}
			.grideven a:hover
				{
					color:#2d3500;
					background:none !important;
				}
			tr.grideven span
				{
					color:#000000;
				}
			.gridselected
				{
					color:#000000;
					background:none repeat scroll 0 0 #f7de96;
				}
			tr.gridselected span
				{
					color:#000000;
				}
			tr.gridodd:hover, tr.grideven:hover, tr.gridselected:hover
				{
					color:#4c493b;
					background:none repeat scroll 0 0 #c2eff0;
				}
			.primaryaddrcontct td
				{
					background-color:#9bd9a7;
				}
			tr.primaryaddrcontct span
				{
					color:#000000;
				}
			/* End: Grid Styles */
a
	{
		text-decoration:none;
	}
.gridhead a:link
	{
		color:#fff;
		text-decoration:none;
	}
.gridhead a:hover
	{
		color:#333;
		text-decoration:underline;
	}
.gridhead a:visited
	{
		color:#000000;
		text-decoration:underline;
	}
.gridnormal span
	{
		border: 1px solid #CCCCCC;
		background: url(Image/pageNavBg.gif) repeat-x scroll left top #F1F1F1;
	}
.gridselected
	{
		color:#000000;
		background-color:#f0e247;
	}
.Content
	{
		border:solid 1px #015150;
		border-top:none !important;
		/*background:#fff url(Image/Box_Bg.gif) repeat-x bottom left;*/
	}
#cphCenterMiddle_tblAuditInfo
	{
		border:solid 1px #015150;
	}
.DisabledControls
	{
		background-color:#fff;
	}
.ReqInfo
	{
		color: #FF4500;
	}
.txtlabel
	{
		color: #000000;
	}
.Label
	{
		color: #000000;
	}
.PayeeAccount
	{
		color: #000000;
	}
.Table
	{
		width:100%;
		vertical-align:top;
	}
.Message
	{
		color:#074241 !important;
		border:1px solid #d0ca93;
		background:#f2f0dc url(Image/msgBg.gif) repeat-x scroll left top;
	}
 caption
	{
		/*border:1px solid #bdbcbd;
		background:url(Image/msgBg.gif) repeat-x scroll left bottom #FFFFFF;*/
	}
.textboxbg
	{
		color:#000000;
		background-color:#FFFFFF;
		border:1px solid #91c0bf;
	}
select
	{
		color:#000000 !important;
		background-color:#FFFFFF;
		border:1px solid #91c0bf !important;
/*		<!--[if IE 7]>
		*border:1px solid #a4cad6; !important;
		<![endif]-->*/
		*border:1px solid #a4cad6 !important;
	}
option
	{
		/*border:1px solid #a4cad6 !important;
		*border:1px solid #a4cad6; !important;*/
	}
.hasDatepick
	{
		color:#000000;
		background-color:#FFFFFF;
		border:1px solid #91c0bf;
	}
.Divider
	{
		border:solid 1px #d8e6eb;
	}
.panelbg
	{
		color:#000000;
		/* background-color:#f2f8fa; */
	}
#content
	{
		/*background-color:#d7ecf3;*/
	}
.panelbg a:hover
	{
		text-decoration: underline;
	}
.panelleft a, a:link
	{
		color:#4d4d4d;
	}
/* Begin: Footer Part Styles */
.footer
	{	
		color:#fff;
		background-color:#c4e2e2;
		background:url(Image/footer_strip.gif) repeat-x;
	}
.footerLeft
	{
		background-color:#c4e2e2;
		background:url(Image/Footer_L.gif) no-repeat left top;
	}
.footerRight
	{
		background-color:#c4e2e2;
		background:url(Image/Footer_R.gif) no-repeat right top;
	}
/* End: Footer Part Styles */
.gridItemThresholdYellow
	{
		color:#000000;
		background-color:#f0e247;
	}
.gridItemThresholdRed
	{
		color:#185373;
		background-color:#FF0000;
	}
.UnreadMessageRow
	{
		background-color:#ffff99;
	}
.otherMonth a
	{
		color:#ccc !important;
	}
#calEvents
	{
		background-color:#fff !important;
	}
#calAgency
	{
		background-color:#fff !important;
	}
.redbanner
	{
		color:#ffffff;
		background-color:#f9786d;
	}
#cphCenterMiddle_tblLinkToolbox
	{
		border:1px solid #84babc !important;
	}
#vlsErrors a
	{
		color:#f00 !important;
	}
#trvCenterLeft	
	{
		color:#4d4d4d;
	}
#trvCenterLeft a
	{
		color:#4d4d4d !important;
	}
	
.ChangedControlsIE7
    	{
	  background-color:#CCFB5D !important ;
    	}
    
.ChangedControls
	{
	   border: 1px solid red !important;
   	}
    
