.ui-layout-pane
	{
		border:#bbb 0px solid; 
	}
.ui-layout-content
	{
		background-color:#b3dcdb;
		/*background-image:url(Image/Panel_Left_Bg.gif);*/
	}
.ui-layout-resizer
	{
		background:#fff;
		border:#bbb 0px solid;
	}
.ui-layout-resizer-open-hover
	{
		 background:#fff;
	}
.ui-layout-resizer-dragging
	{
		background:#adcccd
	}
.ui-layout-resizer-dragging
	{
		border-right:#bbb 1px solid;
		border-left:#bbb 1px solid
	}
.ui-layout-resizer-dragging-limit
	{
		background:#fff;
	}
.ui-layout-resizer-closed-hover
	{
		background:#fff;
	}
.ui-layout-toggler
	{
		background:url(Image/lefthandler.jpg) no-repeat left center;
	}
.ui-layout-resizer-hover .ui-layout-toggler-hover
	{
		background-color:#adcccd;
	}
.ui-layout-toggler .content
	{
		color:#666;
	}
.ui-layout-center
	{
		background-color:#fff;
	/*	background-repeat:repeat-y;
		background-position:right top;
		background-image:url(Image/Panel_Right_Bg.gif);*/
	}