/* Important Note: Common classes has been added in Common.css file */

.modalBackground 
	{
		color:#145166;
		border:1px solid #c5bc55;
		background-color:#fffef2;
	}
.updateProgress
	{
		color:#145166;
		border:1px solid #c5bc55;
		background-color:#fffef2;
		background:url(Image/msgBg.gif) repeat-x scroll left bottom #FFFFFF;
	}
.updateProgressMessage
	{
		color:#145166;
	}