body.ar-ae{
    direction:rtl;
} 

.ar-ae
{

.login-box .wrapper .content
{
    float:left !important;
    border-radius:5px 0px 0px 5px !important;
}

.login-box .wrapper .logo
{
    right:27px;
}

.neospin-login
{
    left:auto !important;
    right:27px;
}


.text-input:after, .password-input:after
{
    left:auto !important;
    right:0px;
    top:0px !important;
    border-radius:0px 3px 3px 0px !important;
}

.remember-text input
{
    margin-right:auto !important;
    margin-left:3px;

}
 

}
