body.ar-ae {
  direction: rtl; }

.ar-ae #ContentSplitter {
  float: none !important; }

.ar-ae .Table {
  width: 100%; }

.ar-ae .Table td {
  text-align: right; }

.ar-ae .captionTd {
  text-align: left !important; }

.ar-ae .s-textbox, .ar-ae .hasDatepicker {
  float: right; }

.ar-ae select {
  float: right; }

.ar-ae td.captionTd {
  padding-right: 20px !important;
  padding-left: 0 !important; }

.ar-ae input[type='image'] {
  float: right; }

.ar-ae img.ui-datepicker-trigger {
  position: static;
  float: right;
  margin-left: 0 !important;
  margin-right: 5px; }

.ar-ae #SouthSplitter {
  height: 0 !important; }

.ar-ae .button {
  float: right; }

.ar-ae .s-grid-container {
  float: right; }

.ar-ae .k-tabstrip .k-tabstrip-items {
  width: 100%;
  float: right;
  text-align: right; }

.ar-ae .k-panelbar .k-tabstrip .k-content {
  float: right;
  width: 100%; }

.ar-ae .toggle-menu-container .CssSliderLeftMenu.cssmenu li > .sub-menu {
  left: -280px !important; }

.ar-ae .k-panelbar-expand, .ar-ae .k-panelbar-collapse {
  left: 2px;
  right: auto !important; }

.ar-ae #logo {
  float: right !important;
  margin-right: 15px; }

.ar-ae .header-controls {
  float: left !important; }

.ar-ae .menu-toggle {
  right: 8px;
  left: auto !important; }

.ar-ae .toggle-menu-container .CssSliderLeftMenu.cssmenu li span.left-menu-icon {
  float: left !important;
  transform: rotate(-180deg);
  right: -10px !important; }

.ar-ae input[type="checkbox"] {
  float: right; }

.ar-ae .page-title {
  right: 15% !important;
  left: auto !important; }

.ar-ae .global-nav {
  float: right !important; }

.ar-ae .header-divider {
  float: right;
  margin: 11px 10px 0px 8px; }

.ar-ae .user-account {
  float: left !important;
  margin-left: 10px !important; }

.ar-ae .divAuditInformationContainer {
  left: 10px;
  right: auto !important; }

.ar-ae .crumDiv {
  float: right !important;
  margin-right: 35px !important; }

.ar-ae .crumDiv table {
  margin-right: 20px !important; }

.ar-ae .task-panel {
  z-index: 9999 !important;
  left: 0 !important;
  right: auto; }

.ar-ae #SlideOutTree {
  left: -2px; }

.ar-ae .jstree-default.jstree-rtl .jstree-node {
  background-image: none !important; }

.ar-ae #NotificationBar {
  right: 350px;
  left: auto !important; }

.ar-ae .k-window-titlebar .k-window-actions {
  right: auto !important;
  left: 20px; }

