body.ar-ae {
    direction: rtl;
}

.ar-ae {

    #ContentSplitter {
        float: none !important;
    }

    .Table {
        width: 100%;
    }

    .Table td {
        text-align: right;
    }

    .captionTd {
        text-align: left !important;
    }

    .s-textbox, .hasDatepicker {
        float: right;
    }

    select {
        float: right;
    }

    td.captionTd {
        padding-right: 20px !important;
        padding-left: 0 !important;
    }

    input[type='image'] {
        float: right;
    }

    img.ui-datepicker-trigger {
        position: static;
        float: right;
        margin-left: 0 !important;
        margin-right: 5px;
    }


    #SouthSplitter {
        height: 0 !important;
    }

    .button {
        float: right;
    }

    .s-grid-container {
        float: right;
    }


    .k-tabstrip .k-tabstrip-items {
        width: 100%;
        float: right;
        text-align: right;
    }

    .k-panelbar .k-tabstrip .k-content {
        float: right;
        width: 100%;
    }

    .toggle-menu-container .CssSliderLeftMenu.cssmenu li > .sub-menu {
        left: -280px !important;
    }

    .k-panelbar-expand, .k-panelbar-collapse {
        left: 2px;
        right: auto !important;
    }

    #logo {
        float: right !important;
        margin-right: 15px;
    }

    .header-controls {
        float: left !important;
    }

    .menu-toggle {
        right: 8px;
        left: auto !important;
    }

    .toggle-menu-container .CssSliderLeftMenu.cssmenu li span.left-menu-icon {
        float: left !important;
        transform: rotate(-180deg);
        right: -10px !important;
    }

    input[type="checkbox"] {
        float: right;
    }

    .page-title {
        right: 15% !important;
        left: auto !important;
    }

    .global-nav {
        float: right !important;
    }



    .header-divider {
        float: right;
        margin: 11px 10px 0px 8px;
    }


    .user-account {
        float: left !important;
        margin-left: 10px !important;
    }


    .divAuditInformationContainer {
        left: 10px;
        right: auto !important;
    }

    .crumDiv {
        float: right !important;
        margin-right: 35px !important;
    }

    .crumDiv table {
        margin-right: 20px !important;
    }

    .task-panel {
        z-index: 9999 !important;
        left: 0 !important;
        right: auto;
    }

    #SlideOutTree {
        left: -2px;
    }

    .jstree-default.jstree-rtl .jstree-node {
        background-image: none !important;
    }

    #NotificationBar {
        right: 350px;
        left: auto !important;
    }

    .k-window-titlebar .k-window-actions {
        right: auto !important;
        left: 20px;
    }
}
