body {
}
/* #region Activity */
#busyindicator {
    z-index: 10000;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
}

/* Sagitec Switch CSS*/
.switch {
    position: relative;
    width: 42px;
    top: 2px;
}

.switch-control {
    margin-right: 10px;
}

    .switch-control label {
        display: block;
        float: left;
        padding: 3px;
        box-sizing: border-box;
        height: 17px;
        line-height: 17px;
        margin: 3px;
    }

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #a2a2a2;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 12px;
        width: 12px;
        left: 2px;
        bottom: 3px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:disabled + .slider {
    background-color: #d2d2d2 !important;
}


input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.switch-control.round .slider {
    border-radius: 34px;
}

    .switch-control.round .slider:before {
        border-radius: 50%;
    }
/* End Switch CSS*/

label.filterGridLabel
{
    cursor: pointer;
}


/* To hide paging and message in Enterprise Knowledge section in Left panel */
/* Section for knowtion - Begin */
/*Section for knowtion*/

#ListViewPager_rpvKnowtionSearch {
    display: none!important;
}

#ListViewContainer_rpvKnowtionSearch {
    border: 1px solid #888888;
}

.ListViewLinks {
    color: #025483;
}

#btnMoreResults {
    color: #025483 !important;
}

#EKSQuickSearch #GlobalMessageDiv {
    display: none !important;
}

#ListViewItem_rpvKnowtionSearch_1 {
    background-color: #e6f1f5;
}

#ListViewItem_rpvKnowtionSearch_3 {
    background-color: #e6f1f5;
}


.RightAlign {
    text-align: right;
}

.longToolTipDiv {
    position: absolute;
    display: inline-block;
    border-bottom: 1px dotted black;
    width: 100%;
    background-color: #555555;
    color: #fff;
    text-align: left;
    padding: 5px;
    border-radius: 6px;
    margin-top: -3px;
    left: 0%;
}


.highPriorityTask
{
    color: palevioletred;
}

.nearDueDateTask
{
    color: orange;
}

.overDueTask
{
    color: orangered;
}

.life-beneficiary{
    float:left;
}