body {
}
/* #region Activity */
#busyindicator {
    z-index: 10000;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

#page-loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    padding-top: 25px;
    display: none;
    background: rgba(0,0,0,.3);
}

/* default style */
.selectnav {
    display: none;
}

/* small screen */
@media screen and (max-width: 900px) {
    .js #MenuUl {
        display: none;
    }

    .js .selectnav {
        display: block;
    }
}

.placeholder {
    opacity: 0.4;
    border: 1px dashed #a6a6a6;
}

.userpermission, .userpermission td
{
    color: orangered !important;
}

.highPriorityTask, .highPriorityTask td
{
    color: palevioletred !important;
}
.emp-pay-details-table select {
    width: auto !important;
}