
/**************File Upload CSS********************/
.s-file-upload-container {
    float: left;
    width: 80%;
    padding: 5px;
    border: 1px solid #AAA;
}



.s-file-button {
    position: relative;
    float: left;
    padding: 6px 12px;
    background: linear-gradient(to bottom, #7f7f7f 0%,#3c3c3c 100%);
    cursor: pointer;
    color: #fff;
    border-radius: 3px;
}

input[type=file][allowmultiple=True] {
    position: absolute !Important;
    font-size: small !important;
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
    opacity: 0;
    top: 0px;
    left: 0px;
    cursor: pointer;
    display: block;
}

.s-fileupload-list {
    float: left;
    width: 100%;
}

.s-fileupload-button button {
    position: relative;
    float: left;
    padding: 6px 12px;
    background: #555;
    cursor: pointer;
    color: #fff;
    border: 0;
    margin-top: 5px;
    border-radius: 3px;
    background: linear-gradient(to bottom, #7f7f7f 0%,#3c3c3c 100%);
}

.s-fileupload-item {
    width: 100%;
    border: 1px solid #DDD;
    padding: 5px;
    box-sizing: border-box !important;
    border-radius: 0;
    float: left;
    margin-top: 5px;
    position: relative;
    height: 30px;
    line-height: 20px;
}

.s-fileupload-item-success {
    background: #eaf7ec url('../../Images/file-upload-success.svg') 99% center no-repeat;
}

.s-fileupload-item-error {
    background: #f2dede url('../../Images/file-upload-error.svg') 99% center no-repeat;
}

.s-fileupload-error-link {
    font-weight: bold;
    color: red;
    text-align: center;
    width: initial;
    padding-right:20px;
    text-decoration:underline;
    text-align:right;
}

.s-fileupload-uploaded-error {
    color: red;
}


.s-file-upload-progress {
    background: #a8e98c;
    opacity:0.7;
    width: 0%;
    height: 18px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: absolute;
    /*text-align: right;*/
}
          
#dropzone {
    background: none;
    height: 20px;
    font-weight: bold;
    display: inline-block;
    margin-left: 10px;
    font-style: italic;
    color: #888;
    margin-top: 5px;
    width: 70% !important;
}

    #dropzone.in {
        height: 200px;
        line-height: 200px;
        font-size: larger;
        padding: 10px;
    }

    #dropzone.hover {
        border: 2px dashed #CCC;
    }
           
    #dropzone.fade {
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        opacity: 1;
        }

.s-fileupload-text {
    z-index: 99;
    position: relative;
    margin-left: 5px;
    color: #555;
}
          
.s-fileupload-statmessage {
    width: 100%;
    border: 1px solid #DDD;
    padding: 5px;
    box-sizing: border-box !important;
    border-radius: 0;
    float: left;
    margin-top: 5px;
    position: relative;
    height: 30px;
    line-height: 20px;
}
/* Framework version 6.0.0.26.0*/
.s-fileupload-remove { 
    background: #f2dede url('../../Images/file-upload-error.svg') 99% center norepeat; 
    /*display:block;*/     height: 20px;     width: 20px;     float: right; 
}

.s-fileupload-percentage {
    color: #a8e98c;
    font-weight: bold;
}
.s-fileupload-clear {     
    float: right;     text-align: center;     
    width: initial;     text-decoration: underline;     
    text-align: right;     cursor:pointer;     
    padding-top:5px;     font-weight:bold; 
        }


