/* Important Note: Common classes has been added in Common.css file */

.modalBackground 
	{
		color:#145166;
		border:1px solid #aaa;
		background-color:#fff;
	}
.updateProgress
	{
		color:#145166;
		border-bottom:1px solid #aaa;
		background:url(Image/msgBg.gif) repeat-x scroll left bottom #FFFFFF;
	}
.updateProgressMessage
	{
		color:#145166;
	}