/* Main Dark Style Sheet for jQuery UI Datepicker */
#datetimepicker_div, .datetimepicker_inline {
    background: #222;
}

#datetimepicker_div {
    border: 1px solid #617583;
    padding: 5px;
}

.datetimepicker_dialog {
    border: 4px ridge #222 !important;
}

.datetimepicker_prompt {
    color: snow;
    background: #222;
}

.datetimepicker_control, .datetimepicker_links, .datetimepicker_header {
    clear: both;
    float: left;
    width: 100%;
    font-size: 9px;
    font-family: Verdana, Geneva, sans-serif !important;
}

.datetimepicker_control {
    padding: 0px;
    line-height: 20px;
    vertical-align: middle;
}

.datetimepicker_links label {
    color: #888;
}

.datetimepicker_header {
    border: 1px solid #617583;
    background-color: #ebf6ff;
}

    .datetimepicker_header select {
        color: #314553;
        background: url(image/calBtnBg.png) #fff center;
    }

.datetimepicker {
    background: #333;
}

    .datetimepicker .datetimepicker_titleRow {
        background: #314553;
        font-family: Verdana, Geneva, sans-serif !important;
    }

    .datetimepicker .datetimepicker_daysRow {
        background-color: #fff;
        border: 1px solid #314553;
        padding: 3px;
    }

.datetimepicker_weekCol {
    color: #fff;
    background: #733;
}

.datetimepicker .datetimepicker_daysCell {
    border: 1px solid #314553;
    padding: 3px;
    color: #314553;
    font: bold 11px Verdana, Geneva, sans-serif !important;
}

.datetimepicker .datetimepicker_weekEndCell {
    background: #fff;
}

.datetimepicker .datetimepicker_daysCellOver {
    background: #111;
    border: 1px solid #999;
    font: bold 11px Verdana, Geneva, sans-serif !important;
}

.datetimepicker .datetimepicker_unselectable {
    color: #fff;
}

.datetimepicker_today {
    background: #667a88 !important;
}

.datetimepicker_currentDay {
    background: #667a88 !important;
    color: #fff !important;
}

.datetimepicker_current {
    border: 1px solid #617583;
    background: url(image/calBtnBg.png) #e8e9eb;
    height: 20px;
    float: left;
    text-align: center;
    font-size: 11px;
}

.datetimepicker_control a, .datetimepicker_links a {
    color: #314553;
}

.datetimepicker_titleRow a {
    color: #fff;
    background: #314553 !important;
    font: bold 11px Verdana, Geneva, sans-serif !important;
}

.datetimepicker_links {
    padding: 0px;
    margin-top: 3px;
    line-height: 20px;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
}

.datetimepicker_multi .datetimepicker {
    border: 1px solid #944;
}

.datetimepicker .datetimepicker_unselectable {
    color: #888;
}

.datetimepicker_titleRow .datetimepicker_weekEndCell {
    padding: 3px;
    background: #314553;
    font: bold 11px Verdana, Geneva, sans-serif !important;
    font-family: Verdana, Geneva, sans-serif !important;
}

.datetimepicker_titleRow a:hover {
    cursor: default !important;
}

.datetimepicker {
    font-family: Verdana, Geneva, sans-serif !important;
}

.datetimepicker_header {
    float: right;
    font: bold 11px Verdana, Geneva, sans-serif !important;
    width: 99%;
    height: auto;
    margin-top: 2px;
}

select {
    margin: 2px 3px 3px 0px !important;
    color: #000000 !important;
    border: 1px solid #a3b7c5 !important;
}

.datetimepicker_clear, .datetimepicker_prev {
    border: 1px solid #617583;
    background: url(image/calBtnBg.png) #e8e9eb;
    height: 20px;
    text-align: center;
    font-size: 11px;
}

.datetimepicker_close, .datetimepicker_next {
    border: 1px solid #617583;
    background: url(image/calBtnBg.png) #e8e9eb;
    height: 20px;
    font-size: 11px;
}

#datetimepicker_div, .datetimepicker_inline {
    color: #fff;
    background-color: #ebf6ff;
}

.datetimepicker_newMonth, .datetimepicker_newYear, .datetimepicker_newHour, .datetimepicker_newMinute {
    font: bold 11px Verdana, Geneva, sans-serif !important;
    background: url(Image/calMonthYearBG.png);
}

#datepick-div a, .datepick-inline a {
    color: #314553;
}

.datetimepicker .datetimepicker_daysCell:hover {
    background-color: #c1d5e3;
    border: 1px solid #314553;
}

.datetimepicker .datetimepicker_unselectable:hover {
    background-color: #fff;
}
