<?xml version="1.0" encoding="utf-8"?>
<OnDemandAVScanConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <InboxFolderPath>c:\eicar_test\data\inbox</InboxFolderPath>
  <StagingFolderPath>c:\eicar_test\data\staging</StagingFolderPath>
  <ScanFileInfoFolderPath>c:\eicar_test\data\file_info</ScanFileInfoFolderPath>
  <BadFileInfoExt>bad_file_info</BadFileInfoExt>
  <CleanFileExt>clean</CleanFileExt>
  <ScanTimeout>00:30:00</ScanTimeout>
</OnDemandAVScanConfig>